In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats

In [9]:
scm_counts = pd.read_csv("Data/2022_scm_counts.csv")
scm_counts = scm_counts.melt(id_vars="Field_ID").rename(
    columns={"Field_ID": "Site_ID", "variable": "Week", "value": "Count"}
)
scm_counts

            Site_ID Week  Count
0       DEG_DIE_100   17  100.0
1     DEG_DIE_ERSWC   17   80.0
2        DEG_DIE_SH   17   64.0
3    DEG_EVA_PGREEN   17    7.0
4      DEG_FES_OVO4   17   25.0
..              ...  ...    ...
585       WIS_COO_2   26    NaN
586         WIS_KEN   26    NaN
587         WIS_WAL   26    NaN
588         ZUE_PED   26    NaN
589         ZUE_REE   26    NaN

[590 rows x 3 columns]

In [10]:
scm_cdl_500 = pd.read_csv("Landscape/2022_scm_cdl_500m.csv")
scm_cdl_500

,Site_ID,Corn,Open Water,Sweet Corn,Developed/Open Space,Developed/Low Intensity,Developed/Med Intensity,Developed/High Intensity,Barren,Deciduous Forest,...,Ag,Ag_Prop,Nat,Nat_Prop,Semi_Nat,Semi_Nat_Prop,Dev,Dev_Prop,Other,Other_Prop
0,STA_LOT,97,0,0,36,28,23,3,6,14,...,673,0.493040,31,0.022711,52,0.038095,96,0.070330,0,0.000000
1,STA_PAD,297,1,0,63,37,5,0,1,16,...,591,0.431702,21,0.015340,138,0.100804,106,0.077429,1,0.000730
2,STA_CRA,24,0,0,74,18,4,0,3,65,...,440,0.321402,137,0.100073,155,0.113221,99,0.072316,0,0.000000
3,POV_DUN,6,0,0,64,12,0,0,0,220,...,16,0.011730,391,0.286657,301,0.220674,76,0.055718,0,0.000000
4,DEG_FES_OVO4,341,0,0,46,46,3,0,0,81,...,576,0.421053,98,0.071637,72,0.052632,95,0.069444,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,YOU,3,0,0,58,36,7,0,0,306,...,8,0.005844,495,0.361578,235,0.171658,101,0.073776,0,0.000000
76,HAT,79,0,0,43,28,11,14,10,287,...,108,0.079063,456,0.333821,183,0.133968,106,0.077599,0,0.000000
77,MOO,248,0,0,31,16,4,0,0,85,...,481,0.352381,131,0.095971,176,0.128938,51,0.037363,0,0.000000
78,URI,207,12,0,11,44,14,1,0,120,...,595,0.434942,126,0.092105,47,0.034357,70,0.051170,12,0.008772
79,MIL_HUM,225,0,0,26,31,20,12,0,63,...,652,0.477306,68,0.049780,40,0.029283,89,0.065154,0,0.000000

In [12]:
scm_500 = pd.merge(
    scm_counts,
    scm_cdl_500[
        ["Site_ID", "Ag_Prop", "Nat_Prop", "Semi_Nat_Prop", "Dev_Prop", "Other_Prop"]
    ],
    on="Site_ID",
    how="left",
)
scm_500

,Site_ID,Week,Count,Ag_Prop,Nat_Prop,Semi_Nat_Prop,Dev_Prop,Other_Prop
0,DEG_DIE_100,17,100.0,0.244868,0.278592,0.057918,0.037390,0.000000
1,DEG_DIE_ERSWC,17,80.0,0.255490,0.180820,0.100293,0.056369,0.000732
2,DEG_DIE_SH,17,64.0,0.192251,0.136696,0.222222,0.052632,0.000731
3,DEG_EVA_PGREEN,17,7.0,0.202050,0.106149,0.234993,0.041728,0.000000
4,DEG_FES_OVO4,17,25.0,0.421053,0.071637,0.052632,0.069444,0.000000
...,...,...,...,...,...,...,...,...
585,WIS_COO_2,26,NaN,0.267740,0.072421,0.220190,0.016094,0.000732
586,WIS_KEN,26,NaN,0.054212,0.221245,0.106227,0.210989,0.038095
587,WIS_WAL,26,NaN,0.073099,0.424708,0.065789,0.059942,0.000000
588,ZUE_PED,26,NaN,0.350954,0.154185,0.074156,0.035977,0.000000
589,ZUE_REE,26,NaN,0.382870,0.073939,0.100293,0.041728,0.000000

In [7]:
scm_cdl_1000 = pd.read_csv("Landscape/2022_scm_cdl_1000m.csv")
scm_cdl_1000

,Site_ID,Corn,Open Water,Sweet Corn,Developed/Open Space,Developed/Low Intensity,Developed/Med Intensity,Developed/High Intensity,Barren,Deciduous Forest,...,Ag,Ag_Prop,Nat,Nat_Prop,Semi_Nat,Semi_Nat_Prop,Dev,Dev_Prop,Other,Other_Prop
0,STA_LOT,599,1,3,114,65,30,3,7,179,...,2387,0.534363,256,0.057309,280,0.062682,219,0.049026,1,0.000224
1,STA_PAD,907,1,0,398,318,31,6,1,353,...,1539,0.344913,521,0.116764,617,0.138279,754,0.168983,1,0.000224
2,STA_CRA,180,0,0,163,42,11,2,5,650,...,1426,0.319516,1152,0.258122,498,0.111584,223,0.049966,0,0.000000
3,POV_DUN,10,4,0,315,105,26,5,6,960,...,93,0.020838,1678,0.375980,913,0.204571,457,0.102397,4,0.000896
4,DEG_FES_OVO4,962,0,0,151,89,12,1,0,899,...,1809,0.404970,989,0.221401,273,0.061115,253,0.056638,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,YOU,10,9,1,287,173,41,2,2,931,...,26,0.005822,1771,0.396552,1020,0.228392,505,0.113077,9,0.002015
76,HAT,166,1,8,117,117,59,62,28,1204,...,653,0.145954,1756,0.392490,612,0.136790,383,0.085606,1,0.000224
77,MOO,706,6,2,192,102,22,1,1,545,...,1418,0.317013,792,0.177062,734,0.164096,318,0.071093,6,0.001341
78,URI,710,15,0,58,91,21,1,0,344,...,2599,0.581302,397,0.088794,208,0.046522,171,0.038246,15,0.003355
79,MIL_HUM,909,2,0,105,65,35,14,0,589,...,2181,0.488466,650,0.145577,321,0.071892,219,0.049048,2,0.000448

In [ ]:
formula = "Proportion ~ Management + Weather + Stage"
md = smf.mixedlm(formula, egg_data, groups=egg_data["Site"])
mdf = md.fit()
print(mdf.summary())