In [2]:
import pandas as pd
import numpy as np
from skimpy import clean_columns

In [34]:
wire_mesh = pd.read_csv("Data/scm_wire_mesh_2024.csv")
wire_mesh = clean_columns(wire_mesh)
wire_mesh

,container_number,container_type,project,field_id,collection_date,seed_type,number_seeds,scm_larvae_sum,scm_pupae_sum,scm_seeds,phorid_larvae_sum,phorid_pupae_sum,phorid_seeds,other_damage,wireworms,other_seeds,checked_by_sophie,order_entered,notes
0,24_5111,small deli,T,1_C_Y,4/16/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,126.0,NaN
1,24_5108,small deli,T,1_L_Y,4/16/24,lima,4,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,474.0,NaN
2,24_5101,small deli,T,1_LC_N,4/16/24,lima and corn,"5 corn, 5 lima",0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,236.0,NaN
3,24_6600,small deli,T,1E_BF_C_C,6/3/24,soy,9,0.0,0.0,0.0,0.0,0.0,0.0,3,0.0,3.0,Y,1374.0,"label says corn, contains soy"
4,24_5692,small deli,T,1E_BF_C_C,5/20/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,8,0.0,8.0,Y,1682.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,24_6061,small deli,R,ZUE_REE,5/21/24,soy,9,0.0,0.0,0.0,0.0,0.0,0.0,4,0.0,4.0,Y,1529.0,NaN
1890,24_6068,small deli,R,ZUE_REE,5/21/24,lima,9,0.0,0.0,0.0,0.0,0.0,0.0,9,0.0,9.0,Y,1535.0,NaN
1891,24_6063,small deli,R,ZUE_REE,5/21/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,5,0.0,5.0,Y,1554.0,NaN
1892,24_6060,small deli,R,ZUE_REE,5/21/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,1831.0,NaN
1893,NaN,NaN,NaN,NaN,NaN,corn,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,309.0,Ella thinks it is likely that she put this sam...

In [35]:
wire_mesh = wire_mesh.loc[wire_mesh['project'] == 'R']
wire_mesh

,container_number,container_type,project,field_id,collection_date,seed_type,number_seeds,scm_larvae_sum,scm_pupae_sum,scm_seeds,phorid_larvae_sum,phorid_pupae_sum,phorid_seeds,other_damage,wireworms,other_seeds,checked_by_sophie,order_entered,notes
820,24_5243,small deli,R,DEG_DIE_HILL,4/15/24,lima,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,108.0,NaN
821,24_5232,small deli,R,DEG_DIE_HILL,4/15/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,115.0,NaN
822,24_5245,small deli,R,DEG_DIE_HILL,4/15/24,soy,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,208.0,"""Number Seeds"" was left blank/0 on the handwri..."
823,24_5296,small deli,R,DEG_DIE_HILL,4/29/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,283.0,NaN
824,24_5234,small deli,R,DEG_DIE_HILL,4/15/24,lima,10,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,2.0,Y,342.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,24_6066,small deli,R,ZUE_REE,5/21/24,soy,10,0.0,0.0,0.0,0.0,0.0,0.0,5,0.0,5.0,Y,1513.0,NaN
1889,24_6061,small deli,R,ZUE_REE,5/21/24,soy,9,0.0,0.0,0.0,0.0,0.0,0.0,4,0.0,4.0,Y,1529.0,NaN
1890,24_6068,small deli,R,ZUE_REE,5/21/24,lima,9,0.0,0.0,0.0,0.0,0.0,0.0,9,0.0,9.0,Y,1535.0,NaN
1891,24_6063,small deli,R,ZUE_REE,5/21/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,5,0.0,5.0,Y,1554.0,NaN
1892,24_6060,small deli,R,ZUE_REE,5/21/24,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,1831.0,NaN

In [36]:
wire_mesh["collection_date"] = pd.to_datetime(
    wire_mesh["collection_date"], format='%m/%d/%y'
)

/var/folders/vt/gz9c8wh17772k93xq1vtnl0c0000gn/T/ipykernel_4131/1543483838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wire_mesh["collection_date"] = pd.to_datetime(

In [37]:
wire_mesh['total_scm'] = wire_mesh['scm_larvae_sum'] + wire_mesh['scm_pupae_sum']
wire_mesh

/var/folders/vt/gz9c8wh17772k93xq1vtnl0c0000gn/T/ipykernel_4131/3938784373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wire_mesh['total_scm'] = wire_mesh['scm_larvae_sum'] + wire_mesh['scm_pupae_sum']

,container_number,container_type,project,field_id,collection_date,seed_type,number_seeds,scm_larvae_sum,scm_pupae_sum,scm_seeds,phorid_larvae_sum,phorid_pupae_sum,phorid_seeds,other_damage,wireworms,other_seeds,checked_by_sophie,order_entered,notes,total_scm
820,24_5243,small deli,R,DEG_DIE_HILL,2024-04-15,lima,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,108.0,NaN,0.0
821,24_5232,small deli,R,DEG_DIE_HILL,2024-04-15,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,115.0,NaN,0.0
822,24_5245,small deli,R,DEG_DIE_HILL,2024-04-15,soy,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,208.0,"""Number Seeds"" was left blank/0 on the handwri...",0.0
823,24_5296,small deli,R,DEG_DIE_HILL,2024-04-29,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,283.0,NaN,0.0
824,24_5234,small deli,R,DEG_DIE_HILL,2024-04-15,lima,10,0.0,0.0,0.0,0.0,0.0,0.0,2,0.0,2.0,Y,342.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888,24_6066,small deli,R,ZUE_REE,2024-05-21,soy,10,0.0,0.0,0.0,0.0,0.0,0.0,5,0.0,5.0,Y,1513.0,NaN,0.0
1889,24_6061,small deli,R,ZUE_REE,2024-05-21,soy,9,0.0,0.0,0.0,0.0,0.0,0.0,4,0.0,4.0,Y,1529.0,NaN,0.0
1890,24_6068,small deli,R,ZUE_REE,2024-05-21,lima,9,0.0,0.0,0.0,0.0,0.0,0.0,9,0.0,9.0,Y,1535.0,NaN,0.0
1891,24_6063,small deli,R,ZUE_REE,2024-05-21,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,5,0.0,5.0,Y,1554.0,NaN,0.0
1892,24_6060,small deli,R,ZUE_REE,2024-05-21,corn,10,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,Y,1831.0,NaN,0.0