In [1]:
import pandas as pd
import numpy as np
from skimpy import clean_columns
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import datetime
import scipy.stats as stats
from datetime import timedelta

In [3]:
emergence = pd.read_csv('Data/first_emergence.csv')
emergence["First Emergence"] = pd.to_datetime(emergence["First Emergence"], format="%m/%d/%y")

emergence.head()

,Field ID,Data Collector,Latitude,Longitude,First Cards,First Emergence,Day,N.SCM.M.1,N.SCM.M.2,N.SCM.F.1,N.SCM.F.2,Total SCM,Accumulated GDD
0,DEG_DIE_HILL,Janice Degni,42.604860,-76.15013,3/5/24,2024-03-12,12.0,1.0,0.0,1.0,2.0,4.0,69.0
1,DEG_FOU_WOOD,Janice Degni,42.577290,-76.28135,3/5/24,2024-03-19,19.0,1.0,0.0,0.0,0.0,1.0,94.0
2,DEG_PER_STRIP,Janice Degni,42.673390,-76.22911,3/5/24,2024-03-12,12.0,0.0,2.0,0.0,0.0,2.0,61.0
3,DEG_VIL,Janice Degni,42.689010,-76.16868,3/5/24,2024-03-12,12.0,1.0,2.0,0.0,0.0,3.0,61.5
4,DIP_CUR,Shea Crowther,42.432905,-76.24405,3/4/24,2024-04-02,33.0,0.0,1.0,0.0,2.0,3.0,108.5

In [12]:
emergence_male = pd.read_csv('Data/first_emergence_male.csv')
emergence_male["First Emergence"] = pd.to_datetime(emergence_male["First Emergence"], format="%m/%d/%y")

emergence_male.head()

,Field ID,Data Collector,Latitude,Longitude,First Cards,First Emergence,N.SCM.M.1,N.SCM.M.2,N.SCM.F.1,N.SCM.F.2,Total SCM,Accumulated GDD,Male Date,Male DD,Male Day
0,DEG_DIE_HILL,Janice Degni,42.604860,-76.15013,3/5/24,2024-03-12,1.0,0.0,1.0,2.0,4.0,69.0,3/12/24,69.0,12.0
1,DEG_FOU_WOOD,Janice Degni,42.577290,-76.28135,3/5/24,2024-03-19,1.0,0.0,0.0,0.0,1.0,94.0,3/19/24,94.0,19.0
2,DEG_PER_STRIP,Janice Degni,42.673390,-76.22911,3/5/24,2024-03-12,0.0,2.0,0.0,0.0,2.0,61.0,3/12/24,61.0,12.0
3,DEG_VIL,Janice Degni,42.689010,-76.16868,3/5/24,2024-03-12,1.0,2.0,0.0,0.0,3.0,61.5,3/12/24,61.5,12.0
4,DIP_CUR,Shea Crowther,42.432905,-76.24405,3/4/24,2024-04-02,0.0,1.0,0.0,2.0,3.0,108.5,4/2/24,108.5,33.0

In [13]:
stats.sem(emergence['Day'].dropna())

1.4684231905914136

In [15]:
stats.sem(emergence_male['Male Day'].dropna())

1.4622813226827

In [16]:
stats.sem(emergence_male['Male DD'].dropna())

7.4843169361004485

In [17]:
stats.sem(emergence['Accumulated GDD'].dropna())

7.792909170093883