In [1]:
import pandas as pd
import numpy as np
from skimpy import clean_columns
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import datetime
import scipy.stats as stats
from datetime import timedelta

In [4]:
emergence = pd.read_csv('first_emergence.csv')
emergence["First Emergence"] = pd.to_datetime(emergence["First Emergence"], format="%m/%d/%y")

emergence.head()

,Field ID,Data Collector,Latitude,Longitude,First Cards,First Emergence,Day,N.SCM.M.1,N.SCM.M.2,N.SCM.F.1,N.SCM.F.2,Total SCM,Accumulated GDD
0,DEG_DIE_HILL,Janice Degni,42.604860,-76.15013,3/5/24,2024-03-12,12.0,1.0,0.0,1.0,2.0,4.0,69.0
1,DEG_FOU_WOOD,Janice Degni,42.577290,-76.28135,3/5/24,2024-03-19,19.0,1.0,0.0,0.0,0.0,1.0,94.0
2,DEG_PER_STRIP,Janice Degni,42.673390,-76.22911,3/5/24,2024-03-12,12.0,0.0,2.0,0.0,0.0,2.0,61.0
3,DEG_VIL,Janice Degni,42.689010,-76.16868,3/5/24,2024-03-12,12.0,1.0,2.0,0.0,0.0,3.0,61.5
4,DIP_CUR,Shea Crowther,42.432905,-76.24405,3/4/24,2024-04-02,33.0,0.0,1.0,0.0,2.0,3.0,108.5

In [5]:
stats.sem(emergence['Day'].dropna())

1.4684231905914136

In [37]:
emergence['First Emergence'] = pd.DatetimeIndex(emergence['First Emergence']).to_julian_date()
emergence

,Field ID,Data Collector,Latitude,Longitude,First Cards,First Emergence,N.SCM.M.1,N.SCM.M.2,N.SCM.F.1,N.SCM.F.2,Total SCM,Accumulated GDD
0,DEG_DIE_HILL,Janice Degni,42.604860,-76.150130,3/5/24,2460381.5,1.0,0.0,1.0,2.0,4.0,69.000000
1,DEG_FOU_WOOD,Janice Degni,42.577290,-76.281350,3/5/24,2460388.5,1.0,0.0,0.0,0.0,1.0,94.000000
2,DEG_PER_STRIP,Janice Degni,42.673390,-76.229110,3/5/24,2460381.5,0.0,2.0,0.0,0.0,2.0,61.000000
3,DEG_VIL,Janice Degni,42.689010,-76.168680,3/5/24,2460381.5,1.0,2.0,0.0,0.0,3.0,61.500000
4,DIP_CUR,Shea Crowther,42.432905,-76.244050,3/4/24,2460402.5,0.0,1.0,0.0,2.0,3.0,108.500000
5,DIP_FLE,Shea Crowther,42.600981,-76.513185,3/4/24,2460381.5,3.0,1.0,3.0,0.0,7.0,97.000000
6,DIP_PAT,Shea Crowther,42.903554,-76.664187,3/4/24,2460402.5,1.0,1.0,1.0,0.0,3.0,164.500000
7,EVE_FIE_OUT,Alexa Stratton,42.184049,-76.561636,3/5/24,2460381.5,0.0,0.0,2.0,0.0,2.0,68.000000
8,GAB_ALL,Aaron Gabriel,42.923640,-73.680890,2/29/24,2460377.5,1.0,0.0,0.0,0.0,1.0,74.000000
9,GAB_HEN,Aaron Gabriel,43.005490,-73.561160,2/29/24,2460382.5,0.0,1.0,0.0,0.0,1.0,58.500000
10,GAB_STE,Aaron Gabriel,43.072170,-73.523500,3/1/24,2460382.5,0.0,0.0,1.0,0.0,1.0,65.000000
11,GRN_FIE_OUT,Alexa Stratton,42.871630,-77.028136,3/4/24,2460387.5,2.0,0.0,0.0,0.0,2.0,139.500000
12,GRS_FIE_OUT,Alexa Stratton,42.865672,-77.030793,3/4/24,2460380.5,0.0,0.0,1.0,0.0,1.0,98.000000
13,KAT_HAB_3,Katelyn Miller,42.503889,-78.913889,3/4/24,2460388.5,1.0,0.0,0.0,1.0,2.0,169.000000
14,KAT_HAB_4,Katelyn Miller,42.547222,-78.870556,3/4/24,2460380.5,2.0,1.0,0.0,1.0,4.0,111.000000
15,KAT_JEF,Katelyn Miller,42.243611,-79.070556,3/4/24,2460380.5,3.0,0.0,0.0,1.0,4.0,101.000000
16,KAT_JEF_2,Katelyn Miller,42.271111,-79.087778,3/4/24,2460380.5,2.0,2.0,0.0,0.0,4.0,109.500000
17,KIR_FIE_OUT,Alexa Stratton,43.249315,-77.980774,3/4/24,2460401.5,0.0,1.0,4.0,1.0,6.0,196.500000
18,POV_DUN,Shea Crowther,42.387460,-76.399248,3/4/24,2460388.5,1.0,0.0,1.0,1.0,3.0,116.500000
19,SEA_HOO,Abby Seaman,42.627472,-77.018172,3/5/24,2460388.5,1.0,0.0,1.0,0.0,2.0,140.500000
20,SMI_JOH,Erik Smith,43.003194,-75.590500,3/4/24,2460381.5,1.0,0.0,0.0,0.0,1.0,65.500000
21,STA_AYR,Mike Stanyard,42.989351,-77.260081,3/4/24,2460381.5,2.0,0.0,1.0,0.0,3.0,107.000000
22,STA_THO,Mike Stanyard,43.137601,-77.316857,3/4/24,2460395.5,1.0,0.0,0.0,0.0,1.0,149.500000
23,WIS_COO,Ken Wise,41.879388,-73.614722,3/4/24,2460387.5,4.0,0.0,0.0,0.0,4.0,97.000000
24,WIS_COO_2,Ken Wise,41.871069,-73.627960,3/4/24,2460380.5,1.0,0.0,2.0,0.0,3.0,52.000000
25,ZUE_REE,Marion Zuefle,42.783494,-76.983186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,2451544.5,NaN,NaN,NaN,NaN,NaN,7.792909

In [38]:
np.std(emergence["First Emergence"])

1700.2761714414507