In [3]:
import pandas as pd
import numpy as np

In [65]:
landscape_cat = {
    "ag": [
        "Corn",
        "Cotton",
        "Rice",
        "Sorghum",
        "Soybeans",
        "Sunflower",
        "Peanuts",
        "Tobacco",
        "Sweet Corn",
        "Pop or Orn Corn",
        "Mint",
        "Barley",
        "Durum Wheat",
        "Spring Wheat",
        "Winter Wheat",
        "Other Small Grains",
        "Dbl Crop WinWht/Soybeans",
        "Rye",
        "Oats",
        "Millet",
        "Speltz",
        "Canola",
        "Flaxseed",
        "Safflower",
        "Rape Seed",
        "Mustard",
        "Alfalfa",
        "Other Hay/Non Alflafa",
        "Camelina",
        "Buckwheat",
        "Sugarbeets",
        "Dry Beans",
        "Potatoes",
        "Other Crops",
        "Sugarcane",
        "Sweet Potatoes",
        "Misc Vegs & Fruits",
        "Watermelons",
        "Onions",
        "Cucumbers",
        "Chick Peas",
        "Lentils",
        "Peas",
        "Tomatoes",
        "Caneberries",
        "Hops",
        "Herbs",
        "Clover/Wildflowers",
        "Sod/Grass Seed",
        "Switchgrass",
        "Cherries",
        "Peaches",
        "Apples",
        "Grapes",
        "Christmas Trees",
        "Other Tree Crops",
        "Citrus",
        "Pecans",
        "Almonds",
        "Walnuts",
        "Pears",
        "Pistachios",
        "Triticale",
        "Carrots",
        "Asparagus",
        "Garlic",
        "Cantaloupes",
        "Prunes",
        "Olives",
        "Oranges",
        "Honeydew Melons",
        "Broccoli",
        "Avocados",
        "Peppers",
        "Pomegranates",
        "Nectarines",
        "Greens",
        "Plums",
        "Strawberries",
        "Squash",
        "Apricots",
        "Vetch",
        "Dbl Crop WinWht/Corn",
        "Dbl Crop Oats/Corn",
        "Lettuce",
        "Dbl Crop Triticale/Corn",
        "Pumpkins",
        "Dbl Crop Lettuce/Durum Wht",
        "Dbl Crop Lettuce/Cantaloupe",
        "Dbl Crop Lettuce/Cotton",
        "Dbl Crop Lettuce/Barley",
        "Dbl  Crop Durum Wht/Sorghum",
        "Dbl Crop Barley/Sorghum",
        "Dbl Crop WinWht/Sorghum",
        "Dbl Crop Barley/Corn",
        "Dbl Crop WinWht/Cotton",
        "Dbl Crop Soybeans/Cotton",
        "Dbl Crop Soybeans/Oats",
        "Dbl Crop Corn/Soybeans",
        "Blueberries",
        "Cabbage",
        "Cauliflower",
        "Celery",
        "Radishes",
        "Turnips",
        "Eggplants",
        "Gourds",
        "Cranberries",
        "Dbl Crop Barley/Soybeans",
        "Cropland",
    ],
    "nat": [
        "Forest",
        "Shrubland",
        "Barren",
        "Wetlands",
        "Nonag/Undefined",
        "Deciduous Forest",
        "Evergreen Forest",
        "Mixed Forest",
        "Shrubland",
        "Woody Wetlands",
        "Herbaceous Wetlands",
    ],
    "semi_nat": ["Grassland/Pasture"],
    "dev": [
        "Developed/Open Space",
        "Developed/Low Intensity",
        "Developed/Med Intensity",
        "Developed/High Intensity",
        "Barren",
    ],
    "other": [
        "Aquaculture",
        "Water",
        "Perennial Ice/Snow",
    ],
}

In [82]:
metadata = pd.read_csv("../Long_Term_Pest_Data/Landscape/CDL_Metadata_NY_2022.csv")
qgis_df = pd.read_csv(
    "../Long_Term_Pest_Data/Landscape/CDL_2022_Chloe_Sites/2023_1km_cdl_output.csv"
)

In [85]:
def cdl_processing(cdl_metadata, qgis_csv):
    cdl_metadata["cdl_number"] = "VALUE_" + metadata["cdl_number"].astype("str")
    qgis_csv.rename(
        columns=cdl_metadata.set_index("cdl_number")["cdl_classification"], inplace=True
    )
    qgis_csv = qgis_csv.drop(
        [
            "descriptio",
            "timestamp",
            "begin",
            "end",
            "altitudeMo",
            "tessellate",
            "extrude",
            "visibility",
            "drawOrder",
            "icon",
        ],
        axis=1,
    )
    qgis_csv["Total"] = qgis_csv.sum(axis=1, numeric_only=True)
    qgis_csv['Ag'] = qgis_csv[qgis_csv.columns.intersection(landscape_cat['ag'])].sum(axis=1)
    qgis_csv['Nat'] = qgis_csv[qgis_csv.columns.intersection(landscape_cat['nat'])].sum(axis=1)
    qgis_csv['Semi_Nat'] = qgis_csv[qgis_csv.columns.intersection(landscape_cat['semi_nat'])].sum(axis=1)
    qgis_csv['Dev'] = qgis_csv[qgis_csv.columns.intersection(landscape_cat['dev'])].sum(axis=1)
    qgis_csv['Other'] = qgis_csv[qgis_csv.columns.intersection(landscape_cat['other'])].sum(axis=1)
    return qgis_csv

In [86]:
cdl_processing(metadata, qgis_df)

,Name,Corn,Sorghum,Soybeans,Sweet Corn,Barley,Spring Wheat,Winter Wheat,Rye,Oats,...,Dbl Crop Triticale/Corn,Blueberries,Cabbage,Cauliflower,Total,Ag,Nat,Semi_Nat,Dev,Other
0,HAT,161,1,422,8,0,0,47,0,1,...,2,0,0,0,10400.0,779,1757,583,355,0.0
1,MUS,684,0,1029,1,2,0,142,1,2,...,11,0,0,0,10373.0,2632,404,237,174,0.0
2,REM,372,8,570,15,1,0,121,1,123,...,0,0,4,0,10401.0,1565,784,935,183,0.0
3,SS,349,1,620,4,1,0,199,7,7,...,0,0,0,0,10384.0,1642,660,732,426,0.0
4,MAN,52,0,33,8,0,0,4,0,6,...,0,0,0,0,10502.0,224,2568,440,346,0.0
5,CURC,1185,0,234,1,1,0,4,1,2,...,0,0,0,0,10400.0,1959,524,603,382,0.0
6,FREE,180,0,66,4,0,1,11,2,9,...,0,1,0,0,10380.0,1180,926,994,358,0.0
7,FISH,270,0,495,1,0,0,222,0,1,...,0,0,1,0,10392.0,1144,1730,392,194,0.0
8,RUSH,240,0,922,1,0,0,109,0,0,...,0,0,0,0,10257.0,1585,1122,349,261,0.0
9,AG,1069,0,135,24,0,0,5,0,8,...,1,0,7,37,10355.0,1695,654,534,528,0.0
10,KIR,200,0,132,13,0,0,11,0,0,...,2,1,9,0,10381.0,725,2272,321,133,0.0
11,OLES,133,0,21,0,0,0,2,0,1,...,0,0,0,0,10405.0,608,2200,515,138,0.0
12,SEN,746,0,920,9,0,0,85,1,0,...,0,0,0,0,10391.0,1972,1258,81,138,0.0
13,THOR,248,0,118,0,0,0,65,0,22,...,0,0,0,0,10374.0,655,2183,287,311,0.0
14,WH,56,0,125,0,2,101,15,0,3,...,1,0,0,0,10383.0,445,1153,1285,574,0.0
15,HAR,720,0,256,485,0,0,157,1,0,...,9,0,0,0,10401.0,2134,1239,48,46,0.0
16,FISH_2,396,0,345,6,0,0,30,0,5,...,0,0,0,0,10374.0,937,1742,464,305,0.0
17,RUSH_2,213,0,893,1,0,0,104,0,0,...,0,0,0,0,10194.0,1550,1023,377,304,0.0
18,OLES_2,196,0,25,0,0,0,3,0,1,...,0,0,0,0,10415.0,615,1998,678,172,0.0
19,ZIT,604,0,79,15,0,0,3,0,7,...,0,0,0,28,10346.0,1109,1503,368,440,0.0