In [1]:
import pandas as pd
from skimpy import clean_columns

In [30]:
# Read CSV file. 

wbc_2011 = pd.read_csv('NY_WBC_Data/ny_wbc_2011.csv', header = None)
wbc_2011

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,longitude,-74.939063,-75.116376,-76.478409,-75.17507,-75.38908,-76.120869,-76.65627,-78.19153,-77.3517,...,-74.95641232,-74.94568348,-75.53873062,-74.44026947,-74.51618671,-74.7877121,-73.464847,-73.501292,-76.84157,-76.233867
1,latitude,42.439872,42.158056,42.913786,44.73907,43.89883,42.771977,42.73441,43.09728,42.31406,...,42.61112752,43.01605412,42.2072864,42.95265337,42.66362993,42.84441211,44.738191,44.298782,42.87213,43.502344
2,site,Oneonta_Delaware,Walton_Delaware,Auburn_Cayuga,Potsdam_StLawrence,Croghan_Lewis,Cortland,Cayuga,Genesee,Wayland_Steuben,...,Otesgo_1,Herkimer,Chenango,Montgomery,Schoharie,Otsego_2,Clinton,Essex,SenecaFalls_Seneca,Chapman_Oswego
3,state_province,NY,NY,NY,NY,NY,NY,NY,NY,NY,...,NY,NY,NY,NY,NY,NY,NY,NY,NY,NY
4,crop,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,...,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn,Field Corn
5,6/14/11,0,0,0,NaN,NaN,0,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6/21/11,0,0,0,NaN,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,6/28/11,0,0,0,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
8,7/5/11,0,0,0,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,NaN,NaN
9,7/12/11,1,1,0,0,0,0,2,0,NaN,...,0,0,0,0,0,0,0,4,NaN,0
10,7/19/11,0,6,0,0,15,0,2,NaN,NaN,...,0,0,0,0,0,0,0,11,0,0
11,7/26/11,3,9,0,0,39,5,1,NaN,NaN,...,0,0,0,0,0,0,12,16,1,0
12,8/2/11,4,0,0,0,19,8,3,NaN,NaN,...,0,0,0,0,0,0,21,8,12,0
13,8/9/11,3,0,NaN,0,0,8,3,NaN,NaN,...,0,0,0,0,0,0,8,1,8,NaN
14,8/16/11,NaN,NaN,0,0,0,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4,0,9,0
15,8/23/11,9,0,NaN,0,NaN,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0
16,8/30/11,0,1,NaN,0,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10,0,NaN,NaN
17,9/7/11,1,0,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
18,9/13/11,3,0,NaN,NaN,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN

In [31]:
wbc_2011 = wbc_2011.T
wbc_2011

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,longitude,latitude,site,state_province,crop,6/14/11,6/21/11,6/28/11,7/5/11,7/12/11,7/19/11,7/26/11,8/2/11,8/9/11,8/16/11,8/23/11,8/30/11,9/7/11,9/13/11
1,-74.939063,42.439872,Oneonta_Delaware,NY,Field Corn,0,0,0,0,1,0,3,4,3,NaN,9,0,1,3
2,-75.116376,42.158056,Walton_Delaware,NY,Field Corn,0,0,0,0,1,6,9,0,0,NaN,0,1,0,0
3,-76.478409,42.913786,Auburn_Cayuga,NY,Field Corn,0,0,0,0,0,0,0,0,NaN,0,NaN,NaN,NaN,NaN
4,-75.17507,44.73907,Potsdam_StLawrence,NY,Field Corn,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN,NaN
5,-75.38908,43.89883,Croghan_Lewis,NY,Field Corn,NaN,NaN,0,0,0,15,39,19,0,0,NaN,NaN,NaN,NaN
6,-76.120869,42.771977,Cortland,NY,Field Corn,0,0,0,0,0,0,5,8,8,1,1,0,0,0
7,-76.65627,42.73441,Cayuga,NY,Field Corn,0,0,0,0,2,2,1,3,3,2,0,0,0,0
8,-78.19153,43.09728,Genesee,NY,Field Corn,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-77.3517,42.31406,Wayland_Steuben,NY,Field Corn,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-76.03788,42.28838,Marathon_Cortland,NY,Field Corn,0,0,0,0,0,0,4,3,2,0,0,0,NaN,NaN
11,-75.57242,42.19431,WhitneyPoint)Broome,NY,Field Corn,0,0,0,0,0,1,1,4,3,0,0,0,NaN,NaN
12,-76.1136,42.06481,Owego_Tioga,NY,Field Corn,0,0,0,0,0,3,2,2,1,0,0,0,NaN,NaN
13,-76.55431,42.07571,Elmira_Chemung,NY,Field Corn,0,0,0,0,0,4,11,16,4,0,0,0,NaN,NaN
14,-76.49527,42.25421,Burdett_Schuyler_1,NY,Field Corn,0,0,0,0,1,1,7,10,11,0,1,0,NaN,NaN
15,-76.50931,42.31332,Burdett_Schuyler_2,NY,Field Corn,0,0,0,1,0,0,4,31,17,8,2,1,NaN,NaN
16,-76.22367,42.27666,Ithaca_Tompkins,NY,Field Corn,0,0,1,0,0,8,22,30,10,2,1,0,NaN,NaN
17,-75.430233,43.029183,Oneida,NY,Field Corn,NaN,NaN,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
18,-75.020633,41.781519,Hortonville_Sullivan,NY,Field Corn,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,-75.53973913,42.71004956,Chenango,NY,Field Corn,NaN,NaN,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
20,-74.95641232,42.61112752,Otesgo_1,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
21,-74.94568348,43.01605412,Herkimer,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
22,-75.53873062,42.2072864,Chenango,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
23,-74.44026947,42.95265337,Montgomery,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24,-74.51618671,42.66362993,Schoharie,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
25,-74.7877121,42.84441211,Otsego_2,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
26,-73.464847,44.738191,Clinton,NY,Field Corn,NaN,NaN,0,0,0,0,12,21,8,4,NaN,10,0,0
27,-73.501292,44.298782,Essex,NY,Field Corn,NaN,NaN,0,0,4,11,16,8,1,0,NaN,0,0,0
28,-76.84157,42.87213,SenecaFalls_Seneca,NY,Field Corn,NaN,NaN,NaN,NaN,NaN,0,1,12,8,9,2,NaN,NaN,NaN
29,-76.233867,43.502344,Chapman_Oswego,NY,Field Corn,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,0,NaN,NaN,NaN

In [32]:
wbc_2011.columns = wbc_2011.iloc[0]
wbc_2011 = wbc_2011[1:]
wbc_2011

,longitude,latitude,site,state_province,crop,6/14/11,6/21/11,6/28/11,7/5/11,7/12/11,7/19/11,7/26/11,8/2/11,8/9/11,8/16/11,8/23/11,8/30/11,9/7/11,9/13/11
1,-74.939063,42.439872,Oneonta_Delaware,NY,Field Corn,0,0,0,0,1,0,3,4,3,NaN,9,0,1,3
2,-75.116376,42.158056,Walton_Delaware,NY,Field Corn,0,0,0,0,1,6,9,0,0,NaN,0,1,0,0
3,-76.478409,42.913786,Auburn_Cayuga,NY,Field Corn,0,0,0,0,0,0,0,0,NaN,0,NaN,NaN,NaN,NaN
4,-75.17507,44.73907,Potsdam_StLawrence,NY,Field Corn,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,NaN,NaN
5,-75.38908,43.89883,Croghan_Lewis,NY,Field Corn,NaN,NaN,0,0,0,15,39,19,0,0,NaN,NaN,NaN,NaN
6,-76.120869,42.771977,Cortland,NY,Field Corn,0,0,0,0,0,0,5,8,8,1,1,0,0,0
7,-76.65627,42.73441,Cayuga,NY,Field Corn,0,0,0,0,2,2,1,3,3,2,0,0,0,0
8,-78.19153,43.09728,Genesee,NY,Field Corn,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-77.3517,42.31406,Wayland_Steuben,NY,Field Corn,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,-76.03788,42.28838,Marathon_Cortland,NY,Field Corn,0,0,0,0,0,0,4,3,2,0,0,0,NaN,NaN
11,-75.57242,42.19431,WhitneyPoint)Broome,NY,Field Corn,0,0,0,0,0,1,1,4,3,0,0,0,NaN,NaN
12,-76.1136,42.06481,Owego_Tioga,NY,Field Corn,0,0,0,0,0,3,2,2,1,0,0,0,NaN,NaN
13,-76.55431,42.07571,Elmira_Chemung,NY,Field Corn,0,0,0,0,0,4,11,16,4,0,0,0,NaN,NaN
14,-76.49527,42.25421,Burdett_Schuyler_1,NY,Field Corn,0,0,0,0,1,1,7,10,11,0,1,0,NaN,NaN
15,-76.50931,42.31332,Burdett_Schuyler_2,NY,Field Corn,0,0,0,1,0,0,4,31,17,8,2,1,NaN,NaN
16,-76.22367,42.27666,Ithaca_Tompkins,NY,Field Corn,0,0,1,0,0,8,22,30,10,2,1,0,NaN,NaN
17,-75.430233,43.029183,Oneida,NY,Field Corn,NaN,NaN,0,0,0,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN
18,-75.020633,41.781519,Hortonville_Sullivan,NY,Field Corn,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
19,-75.53973913,42.71004956,Chenango,NY,Field Corn,NaN,NaN,0,0,1,0,0,0,0,NaN,NaN,NaN,NaN,NaN
20,-74.95641232,42.61112752,Otesgo_1,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
21,-74.94568348,43.01605412,Herkimer,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
22,-75.53873062,42.2072864,Chenango,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
23,-74.44026947,42.95265337,Montgomery,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24,-74.51618671,42.66362993,Schoharie,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
25,-74.7877121,42.84441211,Otsego_2,NY,Field Corn,NaN,NaN,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
26,-73.464847,44.738191,Clinton,NY,Field Corn,NaN,NaN,0,0,0,0,12,21,8,4,NaN,10,0,0
27,-73.501292,44.298782,Essex,NY,Field Corn,NaN,NaN,0,0,4,11,16,8,1,0,NaN,0,0,0
28,-76.84157,42.87213,SenecaFalls_Seneca,NY,Field Corn,NaN,NaN,NaN,NaN,NaN,0,1,12,8,9,2,NaN,NaN,NaN
29,-76.233867,43.502344,Chapman_Oswego,NY,Field Corn,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0,0,NaN,NaN,NaN

In [33]:
wbc_2011 = pd.melt(wbc_2011, id_vars=['longitude', 'latitude', 'site', 'state_province', 'crop'])
wbc_2011

,longitude,latitude,site,state_province,crop,0,value
0,-74.939063,42.439872,Oneonta_Delaware,NY,Field Corn,6/14/11,0
1,-75.116376,42.158056,Walton_Delaware,NY,Field Corn,6/14/11,0
2,-76.478409,42.913786,Auburn_Cayuga,NY,Field Corn,6/14/11,0
3,-75.17507,44.73907,Potsdam_StLawrence,NY,Field Corn,6/14/11,NaN
4,-75.38908,43.89883,Croghan_Lewis,NY,Field Corn,6/14/11,NaN
...,...,...,...,...,...,...,...
401,-74.7877121,42.84441211,Otsego_2,NY,Field Corn,9/13/11,NaN
402,-73.464847,44.738191,Clinton,NY,Field Corn,9/13/11,0
403,-73.501292,44.298782,Essex,NY,Field Corn,9/13/11,0
404,-76.84157,42.87213,SenecaFalls_Seneca,NY,Field Corn,9/13/11,NaN
405,-76.233867,43.502344,Chapman_Oswego,NY,Field Corn,9/13/11,NaN

In [37]:
wbc_2011.rename(columns = {0: 'date', 'value': 'count'})

,longitude,latitude,site,state_province,crop,date,count
0,-74.939063,42.439872,Oneonta_Delaware,NY,Field Corn,6/14/11,0
1,-75.116376,42.158056,Walton_Delaware,NY,Field Corn,6/14/11,0
2,-76.478409,42.913786,Auburn_Cayuga,NY,Field Corn,6/14/11,0
3,-75.17507,44.73907,Potsdam_StLawrence,NY,Field Corn,6/14/11,NaN
4,-75.38908,43.89883,Croghan_Lewis,NY,Field Corn,6/14/11,NaN
...,...,...,...,...,...,...,...
401,-74.7877121,42.84441211,Otsego_2,NY,Field Corn,9/13/11,NaN
402,-73.464847,44.738191,Clinton,NY,Field Corn,9/13/11,0
403,-73.501292,44.298782,Essex,NY,Field Corn,9/13/11,0
404,-76.84157,42.87213,SenecaFalls_Seneca,NY,Field Corn,9/13/11,NaN
405,-76.233867,43.502344,Chapman_Oswego,NY,Field Corn,9/13/11,NaN

In [53]:
def clean_wbc_data(file_path):
    year = file_path[-8:-4]
    print(year)
    df = pd.read_csv(file_path, header = None)
    df = df.T
    df.columns = df.iloc[0]
    df = df[1:]
    df = pd.melt(df, id_vars = ['longitude', 'latitude', 'site', 'state_province', 'crop'])
    df = df.rename(columns = {0: 'date', 'value': 'count'})
    return df.to_csv('NY_WBC_Clean_Data/ny_wbc_' + year)

In [54]:
clean_wbc_data('NY_WBC_Data/ny_wbc_2011.csv')

2011

In [51]:
cleaned_df_2011

<bound method NDFrame.to_csv of        longitude     latitude                site state_province        crop  \
0     -74.939063    42.439872    Oneonta_Delaware             NY  Field Corn
1     -75.116376    42.158056     Walton_Delaware             NY  Field Corn
2     -76.478409    42.913786       Auburn_Cayuga             NY  Field Corn
3      -75.17507     44.73907  Potsdam_StLawrence             NY  Field Corn
4      -75.38908     43.89883       Croghan_Lewis             NY  Field Corn
..           ...          ...                 ...            ...         ...
401  -74.7877121  42.84441211            Otsego_2             NY  Field Corn
402   -73.464847    44.738191             Clinton             NY  Field Corn
403   -73.501292    44.298782               Essex             NY  Field Corn
404    -76.84157     42.87213  SenecaFalls_Seneca             NY  Field Corn
405   -76.233867    43.502344      Chapman_Oswego             NY  Field Corn

        date count
0    6/14/11     0
1    6/14/11     0
2    6/14/11     0
3    6/14/11   NaN
4    6/14/11   NaN
..       ...   ...
401  9/13/11   NaN
402  9/13/11     0
403  9/13/11     0
404  9/13/11   NaN
405  9/13/11   NaN

[406 rows x 7 columns]>