In [1]:
import pandas as pd
from skimpy import clean_columns

In [32]:
# Read CSV files. 

wbc_raw_data_2011 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2011_clean.csv')
wbc_raw_data_2012 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2012_clean.csv')
wbc_raw_data_2013 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2013_clean.csv')
wbc_raw_data_2014 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2014_clean.csv')
wbc_raw_data_2015 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2015_clean.csv')
wbc_raw_data_2016 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2016_clean.csv')
wbc_raw_data_2017 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2017_clean.csv')
wbc_raw_data_2018 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2018_clean.csv')
wbc_raw_data_2019 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2019_clean.csv')
wbc_raw_data_2020 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2020_clean.csv')
wbc_raw_data_2021 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2021_clean.csv')
wbc_raw_data_2022 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2022_clean.csv')

In [40]:
wbc_data = pd.concat([wbc_raw_data_2011, wbc_raw_data_2012, wbc_raw_data_2013, wbc_raw_data_2014, 
                         wbc_raw_data_2015, wbc_raw_data_2016, wbc_raw_data_2017, wbc_raw_data_2018, 
                         wbc_raw_data_2019, wbc_raw_data_2020, wbc_raw_data_2021, wbc_raw_data_2022])

In [50]:
wbc_data.drop_duplicates(subset = ['longitude', 'latitude'])

,longitude,latitude,site,state_province,crop,pest,date,count,variable
0,-74.939063,42.439872,Oneonta_Delaware,NY,Field Corn,WBC,6/14/11,0.0,NaN
1,-75.116376,42.158056,Walton_Delaware,NY,Field Corn,WBC,6/14/11,0.0,NaN
2,-76.478409,42.913786,Auburn_Cayuga,NY,Field Corn,WBC,6/14/11,0.0,NaN
3,-75.17507,44.73907,Potsdam_StLawrence,NY,Field Corn,WBC,6/14/11,NaN,NaN
4,-75.38908,43.89883,Croghan_Lewis,NY,Field Corn,WBC,6/14/11,NaN,NaN
...,...,...,...,...,...,...,...,...,...
31,-74.946101,42.659963,Otsego,NY,Field Corn,WBC,6/19/22,NaN,NaN
32,-76.652836,42.732891,Cayuga_5,NY,Field Corn,WBC,6/19/22,NaN,NaN
33,-73.368752,44.260395,Essex,NY,Field Corn,WBC,6/19/22,NaN,NaN
34,-74.096734,41.75227,Orange,NY,Field Corn,WBC,6/19/22,NaN,NaN
35,-73.606997,41.880046,Dutchess_2,NY,Field Corn,WBC,6/19/22,NaN,NaN

In [44]:
wbc_data

,longitude,latitude,site,state_province,crop,pest,date,count,variable
0,-74.939063,42.439872,Oneonta_Delaware,NY,Field Corn,WBC,6/14/11,0.0,NaN
1,-75.116376,42.158056,Walton_Delaware,NY,Field Corn,WBC,6/14/11,0.0,NaN
2,-76.478409,42.913786,Auburn_Cayuga,NY,Field Corn,WBC,6/14/11,0.0,NaN
3,-75.17507,44.73907,Potsdam_StLawrence,NY,Field Corn,WBC,6/14/11,NaN,NaN
4,-75.38908,43.89883,Croghan_Lewis,NY,Field Corn,WBC,6/14/11,NaN,NaN
...,...,...,...,...,...,...,...,...,...
527,-73.368752,44.260395,Essex,NY,Field Corn,WBC,9/18/22,NaN,NaN
528,-74.096734,41.75227,Orange,NY,Field Corn,WBC,9/18/22,NaN,NaN
529,-73.606997,41.880046,Dutchess_2,NY,Field Corn,WBC,9/18/22,NaN,NaN
530,NaN,NaN,Suffolk,NY,Field Corn,WBC,9/18/22,NaN,NaN
531,NaN,NaN,Cortland,NY,Field Corn,WBC,9/18/22,NaN,NaN