In [2]:
import pandas as pd
import numpy as np
from skimpy import clean_columns

In [10]:
# Read CSV files. 

wbc_raw_data_2011 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2011_clean.csv')
wbc_raw_data_2012 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2012_clean.csv')
wbc_raw_data_2013 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2013_clean.csv')
wbc_raw_data_2014 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2014_clean.csv')
wbc_raw_data_2015 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2015_clean.csv')
wbc_raw_data_2016 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2016_clean.csv')
wbc_raw_data_2017 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2017_clean.csv')
wbc_raw_data_2018 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2018_clean.csv')
wbc_raw_data_2019 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2019_clean.csv')
wbc_raw_data_2020 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2020_clean.csv')
wbc_raw_data_2021 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2021_clean.csv')
wbc_raw_data_2022 = pd.read_csv('NY_WBC_Clean_Data/ny_wbc_2022_clean.csv')

wbc_glmpmn_raw_data = pd.read_csv('wbc_data.csv')

In [11]:
wbc_data = pd.concat([wbc_raw_data_2011, 
                      wbc_raw_data_2012, 
                      wbc_raw_data_2013, 
                      wbc_raw_data_2014, 
                      wbc_raw_data_2015, 
                      wbc_raw_data_2016, 
                      wbc_raw_data_2017, 
                      wbc_raw_data_2018, 
                      wbc_raw_data_2019, 
                      wbc_raw_data_2020, 
                      wbc_raw_data_2021, 
                      wbc_raw_data_2022])

In [12]:
wbc_data['longitude'] = wbc_data.loc[:, 'longitude'].astype('float')

In [13]:
unique_lat_lon_ny = wbc_data.drop_duplicates(subset = ['longitude', 'latitude']).drop(columns=['state_province', 'crop', 'pest', 'date', 'count'])

unique_lat_lon_ny.to_csv('NY_WBC_Clean_Data/wbc_unique_sites_ny.csv', index = False)

unique_lat_lon_ny

    longitude   latitude                site
0  -74.939063  42.439872    Oneonta_Delaware
1  -75.116376  42.158056     Walton_Delaware
2  -76.478409  42.913786       Auburn_Cayuga
3  -75.175070   44.73907  Potsdam_StLawrence
4  -75.389080   43.89883       Croghan_Lewis
..        ...        ...                 ...
31 -74.946101  42.659963              Otsego
32 -76.652836  42.732891            Cayuga_5
33 -73.368752  44.260395               Essex
34 -74.096734   41.75227              Orange
35 -73.606997  41.880046          Dutchess_2

[453 rows x 3 columns]

In [14]:
wbc_glmpmn_raw_data.state_province.unique()

array(['ON', 'MI', 'NS', 'OH', 'QC', 'NB'], dtype=object)

In [15]:
wbc_glmpmn_raw_data.loc[wbc_glmpmn_raw_data['state_province'].isin(['OH', 'MI'])]

,site,pest,crop,state_province,date,count,latitude,longitude
47,Klink House,Western Bean Cutworm (WBC),Dry Beans,MI,6/30/21,0.0,45.806,-86.540
48,Klink Wind Tower,Western Bean Cutworm (WBC),Dry Beans,MI,6/30/21,0.0,45.803,-86.548
49,Bennet's,Western Bean Cutworm (WBC),Dry Beans,MI,7/19/21,5.0,45.681,-86.626
50,Grandma's,Western Bean Cutworm (WBC),Dry Beans,MI,7/19/21,6.0,45.687,-86.702
51,Ricky DTE,Western Bean Cutworm (WBC),Dry Beans,MI,7/19/21,11.0,45.683,-86.653
...,...,...,...,...,...,...,...,...
16599,Harable,Western Bean Cutworm (WBC),Soybeans,MI,7/25/22,64.0,43.407,-84.510
16600,Harable,Western Bean Cutworm (WBC),Soybeans,MI,7/18/22,18.0,43.407,-84.510
16601,Harable,Western Bean Cutworm (WBC),Soybeans,MI,7/11/22,6.0,43.407,-84.510
16602,Harable,Western Bean Cutworm (WBC),Soybeans,MI,7/6/22,3.0,43.407,-84.510
16603,Harable,Western Bean Cutworm (WBC),Soybeans,MI,8/15/22,1.0,43.407,-84.510

In [18]:
unique_lat_lon_glmpmn = wbc_glmpmn_raw_data.drop_duplicates(subset = ['longitude', 'latitude']).drop(columns=['site', 'pest', 'crop', 'state_province', 'date', 'count'])

unique_lat_lon_glmpmn.to_csv('wbc_unique_sites_glmpmn.csv', index = False)