In [1]:
import pandas as pd
import numpy as np
from skimpy import clean_columns
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import datetime
import scipy.stats as stats
from datetime import timedelta

/Users/chloecho/anaconda3/envs/cornell_dev/lib/python3.11/site-packages/pandas/core/arrays/masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [38]:
temp = pd.read_csv('Data/temps.csv')
temp

,Field ID,Longitude,Latitude,Elevation (ft),Date,tmin (degrees F),tmean (degrees F),tmax (degrees F)
0,CER_DEL_1,-74.9680,42.2073,1299.0,1/1/25,28.1,38.5,49.0
1,CER_DEL_1,-74.9680,42.2073,1299.0,1/2/25,28.1,34.5,40.9
2,CER_DEL_1,-74.9680,42.2073,1299.0,1/3/25,24.1,29.2,34.4
3,CER_DEL_1,-74.9680,42.2073,1299.0,1/4/25,19.7,23.2,26.7
4,CER_DEL_1,-74.9680,42.2073,1299.0,1/5/25,19.6,21.5,23.3
...,...,...,...,...,...,...,...,...
20124,ZUE_VOT,-77.5587,42.6258,1801.0,12/27/25,15.1,22.0,28.9
20125,ZUE_VOT,-77.5587,42.6258,1801.0,12/28/25,19.4,21.7,23.9
20126,ZUE_VOT,-77.5587,42.6258,1801.0,12/29/25,23.5,35.1,46.6
20127,ZUE_VOT,-77.5587,42.6258,1801.0,12/30/25,15.4,27.8,40.3
20128,ZUE_VOT,-77.5587,42.6258,1801.0,12/31/25,15.5,17.6,19.7

In [39]:
planting_dates = pd.read_csv('Data/planting_dates.csv')
planting_dates

          Lat       Long   Field ID        Crop Planting date Harvest date
0   42.207278 -74.968000  CER_DEL_1  Field Corn       5/20/25      12/8/25
1   42.195417 -74.987639  CER_DEL_2  Field Corn       5/20/25      12/8/25
2   42.875361 -77.028139    CHO_GEN     Soybean       5/27/25     10/27/25
3   42.606212 -76.150033    DEG_DIE  Field Corn        6/4/25      9/24/25
4   42.587209 -76.276495    DEG_FOU  Field Corn        6/3/25      9/17/25
5   42.126250 -76.433639  DEG_FRI_1  Field Corn       5/22/25     11/14/25
6   42.125556 -76.434583  DEG_FRI_2     Soybean       5/15/25     11/14/25
7   42.651417 -76.473778  DEG_LAF_1  Field Corn        6/4/25     11/26/25
8   42.678944 -76.462611  DEG_LAF_2     Soybean       5/28/25     10/15/25
9   42.727444 -76.252028  DEG_PER_1  Field Corn       5/20/25      10/1/25
10  42.672806 -76.222333  DEG_PER_2     Soybean       5/12/25      10/9/25
11  42.695361 -76.171722    DEG_VIL  Field Corn       5/12/25      10/1/25
12  43.898667 -76.015250    HUN_REE     Soybean        6/4/25     10/29/25
13  42.933890 -77.969790    KIK_HAR  Sweet Corn       6/18/25       9/9/25
14  42.957669 -77.948278    KIK_MBF  Sweet Corn        6/3/25      8/26/25
15  42.974092 -78.184051    KIK_MYT  Sweet Corn        6/4/25      8/26/25
16  42.853652 -77.965313    KIK_SWE  Sweet Corn       6/21/25       9/9/25
17  43.286472 -75.518583    KUH_COL  Field Corn        6/5/25      9/22/25
18  42.860750 -78.252917    LET_MAC  Field Corn       6/17/25      9/30/25
19  43.025460 -77.882132  LET_STE_1  Field Corn        6/8/25      9/29/25
20  43.025487 -77.884436  LET_STE_2  Field Corn        6/8/25      9/29/25
21  43.214667 -78.554722    LET_VER  Field Corn       5/15/25      8/29/25
22  42.943028 -77.706028    LET_WAT  Field Corn       6/12/25      10/2/25
23  42.050000 -77.137467  MIL_BAR_1     Soybean       5/30/25     12/22/25
24  42.051944 -77.061667  MIL_BAR_2     Soybean       6/19/25          NaN
25  42.461389 -78.712222    MIL_COB     Soybean        5/8/25     10/17/25
26  42.361667 -79.171940  MIL_CRO_1  Field Corn        6/4/25      9/22/25
27  42.374700 -79.145800  MIL_CRO_2  Field Corn        6/4/25      9/22/25
28  42.329445 -78.716111    MIL_TEL  Field Corn       6/11/25     12/27/25
29  42.688611 -78.808056  MIL_ZIT_1     Soybean       6/23/25      11/5/25
30  42.679722 -78.807222  MIL_ZIT_2  Field Corn        6/3/25      11/6/25
31  42.689111 -78.810278  MIL_ZIT_3  Field Corn       6/23/25     11/25/25
32  42.982978 -74.035696  SMI_ARN_1  Field Corn       5/13/25          NaN
33  42.970222 -74.025944  SMI_ARN_2     Soybean       5/28/25     10/27/25
34  43.231444 -75.035444    SMI_BUR  Field Corn       5/27/25     11/20/25
35  42.663806 -74.515306    SMI_COB  Field Corn       5/14/25      9/15/25
36  42.826389 -74.577500  SMI_CON_1     Soybean       6/25/25      11/7/25
37  42.839331 -74.613545  SMI_CON_2  Field Corn       5/20/25          NaN
38  43.053024 -74.835235    SMI_DOU     Soybean       5/13/25      10/6/25
39  42.344444 -75.713333  SMI_HOF_1  Field Corn       6/19/25       1/5/25
40  42.751000 -74.570972  SMI_HOF_2     Soybean       6/21/25      11/8/25
41  42.709361 -75.568417    SMI_LAT  Field Corn        6/5/25     10/14/25
42  43.115278 -74.842194    SMI_MCC  Field Corn        6/3/25          NaN
43  42.892139 -77.571167    STA_BLO  Field Corn        6/8/25      10/6/25
44  42.806861 -76.816667    STA_FRE     Soybean        6/4/25      10/6/25
45  43.049389 -77.566556    STA_KRE  Field Corn        6/4/25     11/14/25
46  42.764167 -77.735778    STA_MAC  Field Corn       6/17/25      9/30/25
47  42.728222 -77.041361    STA_MAR  Field Corn        6/3/25     10/27/25
48  43.129694 -76.779167  STA_REE_1     Soybean       5/28/25      9/30/25
49  43.096972 -76.786833  STA_REE_2     Soybean       5/28/25      9/30/25
50  43.123861 -78.214778    STA_STA  Field Corn       5/20/25     11/20/25
51  43.064667 -76.825444    STA_WIL  Field Corn       5/12/25     10/24/25
52  43.312722 -78.365833    STA_WOO  Field Corn       5/15/25     11/25/25
53  43.019944 -78.189806    ZUE_MYT   Snap Bean       6/23/25      8/12/25
54  42.625784 -77.558704    ZUE_VOT   Snap Bean       6/26/25      8/14/25

In [40]:
merged = temp.merge(planting_dates, on = 'Field ID')
merged['Date'] = pd.to_datetime(merged["Date"], format='mixed')

merged['Planting date'] = pd.to_datetime(merged["Planting date"], format='mixed')

merged

,Field ID,Longitude,Latitude,Elevation (ft),Date,tmin (degrees F),tmean (degrees F),tmax (degrees F),Lat,Long,Crop,Planting date,Harvest date
0,CER_DEL_1,-74.9680,42.2073,1299.0,2025-01-01,28.1,38.5,49.0,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25
1,CER_DEL_1,-74.9680,42.2073,1299.0,2025-01-02,28.1,34.5,40.9,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25
2,CER_DEL_1,-74.9680,42.2073,1299.0,2025-01-03,24.1,29.2,34.4,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25
3,CER_DEL_1,-74.9680,42.2073,1299.0,2025-01-04,19.7,23.2,26.7,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25
4,CER_DEL_1,-74.9680,42.2073,1299.0,2025-01-05,19.6,21.5,23.3,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20070,ZUE_VOT,-77.5587,42.6258,1801.0,2025-12-27,15.1,22.0,28.9,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25
20071,ZUE_VOT,-77.5587,42.6258,1801.0,2025-12-28,19.4,21.7,23.9,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25
20072,ZUE_VOT,-77.5587,42.6258,1801.0,2025-12-29,23.5,35.1,46.6,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25
20073,ZUE_VOT,-77.5587,42.6258,1801.0,2025-12-30,15.4,27.8,40.3,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25
20074,ZUE_VOT,-77.5587,42.6258,1801.0,2025-12-31,15.5,17.6,19.7,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25

In [41]:
merged['Diff'] = merged['Planting date'] - merged['Date']

In [47]:
merged = merged.loc[(merged['Diff'] <= '7 days') & (merged['Diff'] >= '-7 days')]
merged

,Field ID,Longitude,Latitude,Elevation (ft),Date,tmin (degrees F),tmean (degrees F),tmax (degrees F),Lat,Long,Crop,Planting date,Harvest date,Diff
132,CER_DEL_1,-74.9680,42.2073,1299.0,2025-05-13,45.2,62.0,78.9,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25,7 days
133,CER_DEL_1,-74.9680,42.2073,1299.0,2025-05-14,55.9,64.8,73.7,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25,6 days
134,CER_DEL_1,-74.9680,42.2073,1299.0,2025-05-15,57.8,61.3,64.9,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25,5 days
135,CER_DEL_1,-74.9680,42.2073,1299.0,2025-05-16,55.6,66.8,78.0,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25,4 days
136,CER_DEL_1,-74.9680,42.2073,1299.0,2025-05-17,58.6,68.8,78.9,42.207278,-74.968000,Field Corn,2025-05-20,12/8/25,3 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19889,ZUE_VOT,-77.5587,42.6258,1801.0,2025-06-29,57.3,70.4,83.6,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25,-3 days
19890,ZUE_VOT,-77.5587,42.6258,1801.0,2025-06-30,61.4,70.1,78.9,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25,-4 days
19891,ZUE_VOT,-77.5587,42.6258,1801.0,2025-07-01,70.3,76.5,82.6,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25,-5 days
19892,ZUE_VOT,-77.5587,42.6258,1801.0,2025-07-02,61.9,71.0,80.1,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25,-6 days
19893,ZUE_VOT,-77.5587,42.6258,1801.0,2025-07-03,62.3,71.0,79.8,42.625784,-77.558704,Snap Bean,2025-06-26,8/14/25,-7 days

In [64]:
two_week_avg = pd.DataFrame(merged.groupby('Field ID')[['tmean (degrees F)', 'tmin (degrees F)', 'tmax (degrees F)']].mean())
two_week_avg.reset_index()

     Field ID  tmean (degrees F)  tmin (degrees F)  tmax (degrees F)
0   CER_DEL_1          54.946667         46.606667         63.293333
1   CER_DEL_2          54.900000         46.460000         63.326667
2     CHO_GEN          53.173333         46.053333         60.300000
3     DEG_DIE          61.180000         51.380000         70.986667
4     DEG_FOU          60.546667         51.053333         70.053333
5   DEG_FRI_1          55.740000         47.060000         64.413333
6   DEG_FRI_2          56.566667         46.853333         66.286667
7   DEG_LAF_1          62.166667         53.460000         70.900000
8   DEG_LAF_2          53.206667         46.320000         60.100000
9   DEG_PER_1          55.000000         47.840000         62.153333
10  DEG_PER_2          56.966667         48.600000         65.313333
11    DEG_VIL          57.320000         48.893333         65.746667
12    HUN_REE          62.953333         54.373333         71.533333
13    KIK_HAR          71.106667         62.653333         79.526667
14    KIK_MBF          62.313333         53.186667         71.453333
15    KIK_MYT          62.606667         54.493333         70.746667
16    KIK_SWE          70.993333         62.786667         79.193333
17    KUH_COL          63.820000         54.033333         73.620000
18    LET_MAC          68.773333         60.426667         77.113333
19  LET_STE_1          64.286667         55.373333         73.206667
20  LET_STE_2          64.286667         55.373333         73.206667
21    LET_VER          57.220000         46.653333         67.740000
22    LET_WAT          67.860000         58.333333         77.380000
23  MIL_BAR_1          57.886667         47.573333         68.200000
24  MIL_BAR_2          69.953333         61.053333         78.866667
25    MIL_COB          55.060000         45.400000         64.746667
26  MIL_CRO_1          60.360000         51.206667         69.513333
27  MIL_CRO_2          60.166667         50.986667         69.353333
28    MIL_TEL          65.206667         55.793333         74.613333
29  MIL_ZIT_1          72.706667         64.420000         80.993333
30  MIL_ZIT_2          61.086667         52.586667         69.560000
31  MIL_ZIT_3          72.706667         64.420000         80.993333
32  SMI_ARN_1          58.333333         49.433333         67.226667
33  SMI_ARN_2          55.120000         46.420000         63.826667
34    SMI_BUR          51.566667         43.706667         59.420000
35    SMI_COB          57.226667         48.020000         66.440000
36  SMI_CON_1          71.893333         62.733333         81.060000
37  SMI_CON_2          56.713333         48.466667         64.973333
38    SMI_DOU          57.613333         49.086667         66.146667
39  SMI_HOF_1          70.153333         60.406667         79.926667
40  SMI_HOF_2          68.086667         60.666667         75.493333
41    SMI_LAT          62.500000         52.020000         72.960000
42    SMI_MCC          60.360000         50.693333         70.046667
43    STA_BLO          64.606667         55.233333         73.966667
44    STA_FRE          63.653333         54.433333         72.866667
45    STA_KRE          64.000000         54.326667         73.660000
46    STA_MAC          70.373333         62.080000         78.673333
47    STA_MAR          63.020000         53.553333         72.473333
48  STA_REE_1          55.513333         47.880000         63.153333
49  STA_REE_2          55.393333         47.606667         63.160000
50    STA_STA          57.413333         49.766667         65.073333
51    STA_WIL          58.346667         49.693333         66.986667
52    STA_WOO          56.646667         47.300000         66.013333
53    ZUE_MYT          72.980000         64.566667         81.406667
54    ZUE_VOT          73.140000         65.286667         81.000000

In [65]:
two_week_avg.mean()

tmean (degrees F)    61.776727
tmin (degrees F)     53.001576
tmax (degrees F)     70.552485
dtype: float64

In [55]:
temp_incidence = pd.read_csv('Data/temps_incidence.csv')
temp_incidence

,Field ID,Longitude,Latitude,Elevation (ft),Date,tmin (degrees F),tmean (degrees F),tmax (degrees F)
0,MIL_ERIE,-78.9286,42.4823,892.0,1/1/25,31.7,40.0,48.3
1,MIL_ERIE,-78.9286,42.4823,892.0,1/2/25,30.3,33.2,36.2
2,MIL_ERIE,-78.9286,42.4823,892.0,1/3/25,25.9,28.9,32.0
3,MIL_ERIE,-78.9286,42.4823,892.0,1/4/25,19.7,24.5,29.2
4,MIL_ERIE,-78.9286,42.4823,892.0,1/5/25,18.4,21.8,25.2
...,...,...,...,...,...,...,...,...
3288,614_411,-78.0544,42.9662,935.0,12/27/25,16.5,23.1,29.8
3289,614_411,-78.0544,42.9662,935.0,12/28/25,19.1,20.8,22.4
3290,614_411,-78.0544,42.9662,935.0,12/29/25,20.1,35.9,51.8
3291,614_411,-78.0544,42.9662,935.0,12/30/25,17.3,29.0,40.8
3292,614_411,-78.0544,42.9662,935.0,12/31/25,18.1,20.1,22.1

In [56]:
planting_dates_incidence = pd.read_csv('Data/planting_dates_incidence.csv')
planting_dates_incidence

         Lat       Long  Field ID Planting date
0  42.482300 -78.928600  MIL_ERIE       5/15/25
1  42.992167 -76.997111    UVEGES       4/28/25
2  42.554032 -76.679399   PERSOON       4/23/25
3  42.063040 -73.808790     KUKON       4/29/25
4  43.101106 -78.126398      CY14        5/1/25
5  43.100950 -78.119167     CY 15       4/28/25
6  43.056093 -78.047112    CY 465        5/1/25
7  43.135408 -77.932528    CY 612       4/28/25
8  42.966219 -78.054450   614_411        5/1/25

In [57]:
merged_incidence = temp_incidence.merge(planting_dates_incidence, on = 'Field ID')
merged_incidence['Date'] = pd.to_datetime(merged_incidence["Date"], format='mixed')

merged_incidence['Planting date'] = pd.to_datetime(merged_incidence["Planting date"], format='mixed')

merged_incidence

,Field ID,Longitude,Latitude,Elevation (ft),Date,tmin (degrees F),tmean (degrees F),tmax (degrees F),Lat,Long,Planting date
0,MIL_ERIE,-78.9286,42.4823,892.0,2025-01-01,31.7,40.0,48.3,42.482300,-78.92860,2025-05-15
1,MIL_ERIE,-78.9286,42.4823,892.0,2025-01-02,30.3,33.2,36.2,42.482300,-78.92860,2025-05-15
2,MIL_ERIE,-78.9286,42.4823,892.0,2025-01-03,25.9,28.9,32.0,42.482300,-78.92860,2025-05-15
3,MIL_ERIE,-78.9286,42.4823,892.0,2025-01-04,19.7,24.5,29.2,42.482300,-78.92860,2025-05-15
4,MIL_ERIE,-78.9286,42.4823,892.0,2025-01-05,18.4,21.8,25.2,42.482300,-78.92860,2025-05-15
...,...,...,...,...,...,...,...,...,...,...,...
3280,614_411,-78.0544,42.9662,935.0,2025-12-27,16.5,23.1,29.8,42.966219,-78.05445,2025-05-01
3281,614_411,-78.0544,42.9662,935.0,2025-12-28,19.1,20.8,22.4,42.966219,-78.05445,2025-05-01
3282,614_411,-78.0544,42.9662,935.0,2025-12-29,20.1,35.9,51.8,42.966219,-78.05445,2025-05-01
3283,614_411,-78.0544,42.9662,935.0,2025-12-30,17.3,29.0,40.8,42.966219,-78.05445,2025-05-01
3284,614_411,-78.0544,42.9662,935.0,2025-12-31,18.1,20.1,22.1,42.966219,-78.05445,2025-05-01

In [58]:
merged_incidence['Diff'] = merged_incidence['Planting date'] - merged_incidence['Date'] 
merged_incidence = merged_incidence.loc[(merged_incidence['Diff'] <= '7 days') & (merged_incidence['Diff'] >= '-7 days')]
merged_incidence

,Field ID,Longitude,Latitude,Elevation (ft),Date,tmin (degrees F),tmean (degrees F),tmax (degrees F),Lat,Long,Planting date,Diff
127,MIL_ERIE,-78.9286,42.4823,892.0,2025-05-08,44.6,56.3,68.0,42.482300,-78.92860,2025-05-15,7 days
128,MIL_ERIE,-78.9286,42.4823,892.0,2025-05-09,33.4,41.6,49.7,42.482300,-78.92860,2025-05-15,6 days
129,MIL_ERIE,-78.9286,42.4823,892.0,2025-05-10,35.4,47.3,59.1,42.482300,-78.92860,2025-05-15,5 days
130,MIL_ERIE,-78.9286,42.4823,892.0,2025-05-11,40.3,55.3,70.3,42.482300,-78.92860,2025-05-15,4 days
131,MIL_ERIE,-78.9286,42.4823,892.0,2025-05-12,43.5,56.2,68.9,42.482300,-78.92860,2025-05-15,3 days
...,...,...,...,...,...,...,...,...,...,...,...,...
3043,614_411,-78.0544,42.9662,935.0,2025-05-04,42.3,45.4,48.5,42.966219,-78.05445,2025-05-01,-3 days
3044,614_411,-78.0544,42.9662,935.0,2025-05-05,45.9,50.1,54.4,42.966219,-78.05445,2025-05-01,-4 days
3045,614_411,-78.0544,42.9662,935.0,2025-05-06,51.3,59.0,66.7,42.966219,-78.05445,2025-05-01,-5 days
3046,614_411,-78.0544,42.9662,935.0,2025-05-07,51.8,59.8,67.8,42.966219,-78.05445,2025-05-01,-6 days
3047,614_411,-78.0544,42.9662,935.0,2025-05-08,41.8,53.7,65.6,42.966219,-78.05445,2025-05-01,-7 days

In [66]:
two_week_avg_incidence = pd.DataFrame(merged_incidence.groupby('Field ID')[['tmean (degrees F)', 'tmin (degrees F)', 'tmax (degrees F)']].mean())
two_week_avg_incidence.reset_index()

   Field ID  tmean (degrees F)  tmin (degrees F)  tmax (degrees F)
0   614_411          55.493333         44.993333         65.993333
1     CY 15          53.766667         43.526667         64.013333
2    CY 465          55.493333         45.126667         65.860000
3    CY 612          53.506667         43.240000         63.753333
4      CY14          55.346667         45.306667         65.406667
5     KUKON          60.273333         48.726667         71.846667
6  MIL_ERIE          57.033333         46.720000         67.306667
7   PERSOON          53.126667         40.726667         65.506667
8    UVEGES          54.680000         43.800000         65.586667

In [67]:
two_week_avg_incidence.mean()

tmean (degrees F)    55.413333
tmin (degrees F)     44.685185
tmax (degrees F)     66.141481
dtype: float64