In [1]:
from dash import jupyter_dash
from dash import Dash, html, dcc, callback, Output, Input, dash_table
import plotly.express as px
import pandas as pd

In [2]:
df = pd.read_csv('trapping_data_2023.csv')
df = df[['Date', 'Farm', "ECB-E", 'ECB-Z', "CEW", "FAW", "WBC"]]
df = df.rename(columns={"ECB-E": "ECB_E", "ECB-Z": "ECB_Z"})

df = pd.melt(df, id_vars = ['Date', 
                            'Farm'], 
                 value_vars = ['ECB_E', 
                                 'ECB_Z',
                                 'CEW', 
                                 'FAW', 
                                 'WBC'])

df = df.rename(columns={"value": "Count", "variable": "Pest"})

df

          Date  Farm   Pest  Count
0     6/1/2023   REM  ECB_E    0.0
1     6/1/2023    SS  ECB_E    0.0
2     6/1/2023   MAN  ECB_E    0.0
3     6/1/2023  CURC  ECB_E    0.0
4     6/1/2023  FREE  ECB_E    0.0
..         ...   ...    ...    ...
800  8/10/2023    WH    WBC    NaN
801  8/11/2023   HAT    WBC    NaN
802  8/11/2023   MUS    WBC    NaN
803  8/11/2023  FISH    WBC    NaN
804  8/11/2023   SEN    WBC    NaN

[805 rows x 4 columns]

In [4]:
app = Dash(__name__)

@callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_graph(value):
    dff = df[df.Farm==value]
    return px.line(dff, x='Date', y='Count', color='Pest')

app.layout = html.Div([
    html.Div(children='Sweet Corn Pheromone Trap Catch'),
    dash_table.DataTable(data=df.to_dict('records'), page_size=10), 
    html.H1(children='Sweet Corn Pheromone Trap Catch', style={'textAlign':'center'}),
    dcc.Dropdown(df.Farm.unique(), 'REM', id='dropdown-selection'),
    dcc.Graph(id='graph-content')
])

if __name__ == '__main__':
    app.run(debug=True)

app.run(jupyter_mode="external")

Dash app running on http://127.0.0.1:8050/