In [490]:
import pandas as pd
import numpy as np
from skimpy import clean_columns
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

- [Guide for Generating PDFs](https://towardsdatascience.com/how-to-create-pdf-reports-with-python-the-essential-guide-c08dd3ebf2ee)  
- [Dynamic PDF Generation](https://advicement.io/dynamic-documents-api/documentation/getting-started)

### Climate Data

In [491]:
climate = pd.read_csv("Data/2023_scm_climate.csv")
climate = clean_columns(climate)
climate["date"] = pd.to_datetime(climate["date"], format="%m/%d/%y")
climate["week"] = climate["date"].dt.strftime("%U").astype(int)
climate

,record_id,longitude,latitude,elevation,date,rain_inches,min_temp_f,ave_temp_f,max_temp_f,week
0,DEG_DIE_HILL,-76.1495,42.6025,1339,2023-01-01,0.12,36.6,43.8,51.1,1
1,DEG_DIE_HILL,-76.1495,42.6025,1339,2023-01-02,0.00,36.0,38.8,41.5,1
2,DEG_DIE_HILL,-76.1495,42.6025,1339,2023-01-03,0.00,31.5,39.4,47.2,1
3,DEG_DIE_HILL,-76.1495,42.6025,1339,2023-01-04,0.53,36.7,44.9,53.1,1
4,DEG_DIE_HILL,-76.1495,42.6025,1339,2023-01-05,0.35,37.5,46.9,56.2,1
...,...,...,...,...,...,...,...,...,...,...
10131,ZUE_REE,-76.9833,42.7834,669,2023-06-26,0.06,66.3,74.2,82.2,26
10132,ZUE_REE,-76.9833,42.7834,669,2023-06-27,1.24,63.4,72.7,82.1,26
10133,ZUE_REE,-76.9833,42.7834,669,2023-06-28,0.10,60.4,70.2,80.0,26
10134,ZUE_REE,-76.9833,42.7834,669,2023-06-29,0.01,58.7,62.8,66.9,26
10135,ZUE_REE,-76.9833,42.7834,669,2023-06-30,0.00,60.2,68.1,75.9,26

### Weekly Climate

In [492]:
weekly_climate = (
    climate[
        ["record_id", "week", "rain_inches", "min_temp_f", "ave_temp_f", "max_temp_f"]
    ]
    .groupby(["record_id", "week"])
    .mean()
)
weekly_climate = weekly_climate.reset_index()
weekly_climate = clean_columns(weekly_climate)
weekly_climate["next_week"] = weekly_climate["week"] + 1
weekly_climate

,record_id,week,rain_inches,min_temp_f,ave_temp_f,max_temp_f,next_week
0,DEG_DIE_HILL,1,0.154286,34.642857,41.114286,47.557143,2
1,DEG_DIE_HILL,2,0.112857,23.842857,29.471429,35.042857,3
2,DEG_DIE_HILL,3,0.177143,22.714286,27.600000,32.457143,4
3,DEG_DIE_HILL,4,0.111429,24.714286,28.757143,32.828571,5
4,DEG_DIE_HILL,5,0.020000,9.642857,18.814286,27.971429,6
...,...,...,...,...,...,...,...
1451,ZUE_REE,22,0.000000,54.914286,68.785714,82.628571,23
1452,ZUE_REE,23,0.024286,50.285714,58.514286,66.771429,24
1453,ZUE_REE,24,0.410000,56.385714,63.528571,70.671429,25
1454,ZUE_REE,25,0.024286,59.000000,67.857143,76.728571,26
1455,ZUE_REE,26,0.386667,62.083333,69.750000,77.433333,27

### Landscape Data

In [493]:
landscape_500 = pd.read_csv("Landscape/2023_scm_cdl_500m.csv")
landscape_500["Prop_Corn"] = landscape_500["Corn"] / landscape_500["Total"]
landscape_500 = clean_columns(landscape_500).drop("unnamed_0", axis=1)
landscape_500

,site_id,corn,open_water,sweet_corn,developed_open_space,developed_low_intensity,developed_med_intensity,developed_high_intensity,barren,deciduous_forest,...,ag_prop,nat,nat_prop,semi_nat,semi_nat_prop,dev,dev_prop,other,other_prop,prop_corn
0,POV_DUN,6,0,0,62,11,0,0,0,230,...,0.009510,3,0.002195,289,0.211412,0,0.000000,0.0,0.0,0.004389
1,DIP_FLE,386,0,0,21,22,5,0,0,135,...,0.365764,1,0.000732,146,0.106803,0,0.000000,0.0,0.0,0.282370
2,DIP_CUR,292,0,0,55,21,3,0,0,87,...,0.338203,0,0.000000,140,0.102264,0,0.000000,0.0,0.0,0.213294
3,GAB_STE,136,0,0,14,19,12,5,3,195,...,0.144217,3,0.002196,113,0.082723,3,0.002196,0.0,0.0,0.099561
4,MIL_YOD_1,158,0,0,0,0,0,0,0,331,...,0.326754,1,0.000731,53,0.038743,0,0.000000,0.0,0.0,0.115497
5,MIL_CHA_1,430,0,0,67,10,9,0,0,50,...,0.475842,1,0.000732,67,0.049048,0,0.000000,0.0,0.0,0.314788
6,MIL_MCC_1,293,0,0,3,1,0,0,0,193,...,0.368960,0,0.000000,37,0.027086,0,0.000000,0.0,0.0,0.214495
7,KAT_SAU_1,152,0,0,28,7,4,1,0,205,...,0.203650,0,0.000000,93,0.067883,0,0.000000,0.0,0.0,0.110949
8,KAT_SAU_2,172,0,0,54,7,3,0,0,67,...,0.141082,1,0.000731,132,0.096491,0,0.000000,0.0,0.0,0.125731
9,KAT_TEE_1,201,0,0,54,11,5,0,0,282,...,0.158279,0,0.000000,114,0.083151,0,0.000000,0.0,0.0,0.146608
10,KAT_TEE_2,287,0,0,32,0,1,0,0,255,...,0.228237,0,0.000000,86,0.062911,0,0.000000,0.0,0.0,0.209949
11,KAT_HAB_2,392,0,2,46,9,5,4,2,57,...,0.345788,2,0.001465,74,0.054212,2,0.001465,0.0,0.0,0.287179
12,KAT_HAB_1,214,0,0,76,12,2,1,1,122,...,0.302853,2,0.001463,98,0.071690,1,0.000732,0.0,0.0,0.156547
13,KAT_BAR,284,25,0,51,44,42,3,5,121,...,0.217518,5,0.003650,131,0.095620,5,0.003650,0.0,0.0,0.207299
14,KAT_JEF_1,29,0,0,31,13,2,2,0,195,...,0.025547,0,0.000000,169,0.123358,0,0.000000,0.0,0.0,0.021168
15,KAT_JEF_2,129,1,0,38,18,5,3,0,127,...,0.123810,0,0.000000,164,0.120147,0,0.000000,0.0,0.0,0.094505
16,STA_WIL_1,113,1,0,84,14,5,0,0,70,...,0.356934,0,0.000000,131,0.095620,0,0.000000,0.0,0.0,0.082482
17,STA_HEM_2,289,0,0,23,21,10,0,1,49,...,0.317716,1,0.000732,69,0.050512,1,0.000732,0.0,0.0,0.211567
18,STA_HEM_1,320,4,0,52,12,8,1,0,111,...,0.335531,1,0.000733,136,0.099634,0,0.000000,0.0,0.0,0.234432
19,STA_SWE_1,276,7,0,57,30,2,0,0,47,...,0.401316,5,0.003655,104,0.076023,0,0.000000,0.0,0.0,0.201754
20,STA_COL_1,473,0,2,23,29,1,0,0,20,...,0.441843,0,0.000000,65,0.047549,0,0.000000,0.0,0.0,0.346013
21,DIP_PAT,435,0,1,2,1,0,0,1,265,...,0.355833,2,0.001467,19,0.013940,1,0.000734,0.0,0.0,0.319149
22,SMI_CRO,381,0,0,26,10,2,0,0,15,...,0.497807,0,0.000000,89,0.065058,0,0.000000,0.0,0.0,0.278509
23,SMI_CAN,120,5,0,35,35,32,9,14,298,...,0.144843,19,0.013899,165,0.120702,14,0.010241,0.0,0.0,0.087783
24,SMI_KEL,53,0,0,48,11,2,0,0,304,...,0.142648,0,0.000000,70,0.051207,0,0.000000,0.0,0.0,0.038771
25,SMI_COB,30,1,0,66,87,58,2,1,121,...,0.179094,3,0.002193,179,0.130848,1,0.000731,0.0,0.0,0.021930
26,SMI_DOU,30,0,0,65,13,4,1,0,82,...,0.130307,0,0.000000,190,0.139092,0,0.000000,0.0,0.0,0.021962
27,SMI_LAT,155,0,0,71,19,3,0,0,212,...,0.307242,0,0.000000,90,0.065838,0,0.000000,0.0,0.0,0.113387
28,SMI_MCC,169,0,0,22,19,5,1,0,49,...,0.267988,0,0.000000,182,0.133627,0,0.000000,0.0,0.0,0.124082
29,SMI_DUR,288,1,1,40,15,7,2,0,220,...,0.230657,3,0.002190,97,0.070803,0,0.000000,0.0,0.0,0.210219
30,SMI_HOL,258,0,0,17,7,1,0,0,36,...,0.278184,1,0.000732,78,0.057101,0,0.000000,0.0,0.0,0.188873
31,SMI_HOF,66,26,0,38,34,2,0,0,260,...,0.111192,1,0.000732,57,0.041697,0,0.000000,0.0,0.0,0.048281
32,SMI_JOH_1,238,0,0,33,12,11,5,0,193,...,0.248720,0,0.000000,158,0.115582,0,0.000000,0.0,0.0,0.174104
33,SMI_JOH_2,21,51,0,34,10,6,0,0,206,...,0.068814,2,0.001464,102,0.074671,0,0.000000,0.0,0.0,0.015373
34,LET_NOB,395,1,5,36,9,12,8,7,90,...,0.447368,7,0.005117,55,0.040205,7,0.005117,0.0,0.0,0.288743
35,LET_TAB,332,0,0,76,2,4,0,0,201,...,0.369693,0,0.000000,32,0.023426,0,0.000000,0.0,0.0,0.243045
36,WIS_COO_2,80,2,1,21,49,15,0,0,244,...,0.167398,3,0.002193,113,0.082602,0,0.000000,0.0,0.0,0.058480
37,WIS_HIG,1,1,2,63,72,85,18,0,405,...,0.022711,0,0.000000,105,0.076923,0,0.000000,0.0,0.0,0.000733
38,WIS_MEG_1,50,13,41,67,132,53,3,1,172,...,0.071010,1,0.000732,196,0.143485,1,0.000732,0.0,0.0,0.036603
39,WIS_KEN,5,42,0,99,114,70,22,1,205,...,0.060073,2,0.001465,157,0.115018,1,0.000733,0.0,0.0,0.003663
40,WIS_COO_1,50,1,0,19,2,0,0,0,80,...,0.145788,0,0.000000,291,0.213187,0,0.000000,0.0,0.0,0.036630
41,DEG_PER_STRIP,168,0,0,35,7,1,1,0,92,...,0.329412,0,0.000000,160,0.117647,0,0.000000,0.0,0.0,0.123529
42,DEG_FOU_WOOD,383,0,0,56,27,1,0,0,26,...,0.322840,0,0.000000,168,0.122987,0,0.000000,0.0,0.0,0.280381
43,DEG_DIE_HILL,243,0,0,20,34,2,0,0,95,...,0.341642,0,0.000000,181,0.132698,0,0.000000,0.0,0.0,0.178152
44,DEG_DIE_SWC,299,2,2,34,30,4,0,1,78,...,0.330168,3,0.002191,146,0.106647,1,0.000730,0.0,0.0,0.218408
45,DEG_YOU_BOCES,285,0,0,32,65,23,12,0,26,...,0.238478,1,0.000732,347,0.253841,0,0.000000,0.0,0.0,0.208486
46,DEG_YOU_OSHEA,375,0,0,41,13,10,1,0,144,...,0.425844,0,0.000000,25,0.018355,0,0.000000,0.0,0.0,0.275330
47,DEG_YOU_JONES,211,3,1,30,66,12,3,1,128,...,0.235208,2,0.001461,190,0.138787,1,0.000730,0.0,0.0,0.154127
48,DEG_VIL,443,22,0,43,47,20,0,2,70,...,0.359386,2,0.001461,130,0.094960,2,0.001461,0.0,0.0,0.323594
49,ZUE_REE,51,0,6,36,10,5,0,0,125,...,0.260615,0,0.000000,145,0.106149,0,0.000000,0.0,0.0,0.037335
50,GAB_ALL,0,0,0,0,0,0,0,0,0,...,0.000000,0,0.000000,0,0.000000,0,0.000000,0.0,0.0,0.000000

In [494]:
landscape_1000 = pd.read_csv("Landscape/2023_scm_cdl_1000m.csv")
landscape_1000["Prop_Corn"] = landscape_1000["Corn"] / landscape_1000["Total"]
landscape_1000 = clean_columns(landscape_1000).drop("unnamed_0", axis=1)
landscape_1000

,site_id,corn,open_water,sweet_corn,developed_open_space,developed_low_intensity,developed_med_intensity,developed_high_intensity,barren,deciduous_forest,...,ag_prop,nat,nat_prop,semi_nat,semi_nat_prop,dev,dev_prop,other,other_prop,prop_corn
0,POV_DUN,10,4,0,317,105,26,5,6,972,...,0.018784,14,0.003131,915,0.204606,6,0.001342,0.0,0.0,0.002236
1,DIP_FLE,1080,2,14,45,82,12,3,0,442,...,0.468414,3,0.000672,402,0.090054,0,0.000000,0.0,0.0,0.241935
2,DIP_CUR,1205,0,0,149,66,35,18,2,488,...,0.403988,6,0.001344,484,0.108447,2,0.000448,0.0,0.0,0.269998
3,GAB_STE,359,0,0,42,39,16,5,18,1321,...,0.151814,22,0.004926,413,0.092476,18,0.004030,0.0,0.0,0.080385
4,MIL_YOD_1,745,0,0,131,17,6,1,1,953,...,0.349473,4,0.000897,627,0.140551,1,0.000224,0.0,0.0,0.167003
5,MIL_CHA_1,1480,0,1,151,21,22,1,0,534,...,0.521505,1,0.000224,321,0.071909,0,0.000000,0.0,0.0,0.331541
6,MIL_MCC_1,891,0,0,127,17,3,0,0,700,...,0.379789,2,0.000448,420,0.094107,0,0.000000,0.0,0.0,0.199641
7,KAT_SAU_1,340,0,0,213,33,7,3,1,1155,...,0.113524,2,0.000448,481,0.107703,1,0.000224,0.0,0.0,0.076131
8,KAT_SAU_2,632,1,0,253,33,12,2,1,699,...,0.165062,2,0.000448,572,0.128108,1,0.000224,0.0,0.0,0.141545
9,KAT_TEE_1,565,11,0,183,44,17,1,0,1084,...,0.148869,0,0.000000,605,0.135438,0,0.000000,0.0,0.0,0.126483
10,KAT_TEE_2,407,0,0,58,2,1,0,0,1395,...,0.108302,0,0.000000,182,0.040725,0,0.000000,0.0,0.0,0.091072
11,KAT_HAB_2,1211,1,2,151,26,11,6,2,650,...,0.304211,3,0.000672,278,0.062276,2,0.000448,0.0,0.0,0.271281
12,KAT_HAB_1,676,0,0,572,28,3,1,2,575,...,0.238021,3,0.000672,420,0.094044,2,0.000448,0.0,0.0,0.151366
13,KAT_BAR,421,138,0,187,115,93,6,10,766,...,0.122508,10,0.002240,522,0.116909,10,0.002240,0.0,0.0,0.094289
14,KAT_JEF_1,237,0,0,125,113,46,10,0,695,...,0.062500,0,0.000000,611,0.136873,0,0.000000,0.0,0.0,0.053091
15,KAT_JEF_2,417,5,0,73,44,15,3,1,655,...,0.113423,1,0.000224,462,0.103356,1,0.000224,0.0,0.0,0.093289
16,STA_WIL_1,677,6,0,170,24,13,0,3,741,...,0.375672,3,0.000672,378,0.084677,3,0.000672,0.0,0.0,0.151658
17,STA_HEM_2,606,7,2,112,79,54,17,77,273,...,0.346240,78,0.017457,433,0.096911,77,0.017234,0.0,0.0,0.135631
18,STA_HEM_1,1006,23,0,175,51,14,2,1,454,...,0.393153,2,0.000448,487,0.108973,1,0.000224,0.0,0.0,0.225106
19,STA_SWE_1,1036,8,1,189,58,2,0,0,610,...,0.382874,15,0.003362,351,0.078682,0,0.000000,0.0,0.0,0.232235
20,STA_COL_1,936,6,12,115,128,68,0,1,403,...,0.346756,2,0.000447,510,0.114094,1,0.000224,0.0,0.0,0.209396
21,DIP_PAT,1426,0,15,45,101,24,2,4,433,...,0.561199,6,0.001343,140,0.031327,4,0.000895,0.0,0.0,0.319087
22,SMI_CRO,744,0,0,72,57,23,4,0,228,...,0.346473,0,0.000000,521,0.116685,0,0.000000,0.0,0.0,0.166629
23,SMI_CAN,561,10,0,117,83,46,9,14,802,...,0.260840,19,0.004247,701,0.156683,14,0.003129,0.0,0.0,0.125391
24,SMI_KEL,386,0,0,101,65,12,1,0,533,...,0.276858,2,0.000448,414,0.092659,0,0.000000,0.0,0.0,0.086392
25,SMI_COB,290,4,0,236,320,266,28,2,361,...,0.224686,10,0.002240,931,0.208557,2,0.000448,0.0,0.0,0.064964
26,SMI_DOU,156,4,0,294,82,31,7,0,599,...,0.135570,1,0.000224,619,0.138479,0,0.000000,0.0,0.0,0.034899
27,SMI_LAT,642,28,0,291,53,23,6,1,718,...,0.346240,1,0.000224,398,0.089078,1,0.000224,0.0,0.0,0.143688
28,SMI_MCC,395,0,0,107,60,11,2,0,871,...,0.158354,0,0.000000,780,0.174458,0,0.000000,0.0,0.0,0.088347
29,SMI_DUR,787,1,1,198,78,28,3,4,976,...,0.228635,10,0.002237,499,0.111633,4,0.000895,0.0,0.0,0.176063
30,SMI_HOL,760,0,0,133,29,11,3,0,377,...,0.275151,1,0.000224,362,0.081111,0,0.000000,0.0,0.0,0.170289
31,SMI_HOF,539,69,0,159,83,12,0,14,1078,...,0.172105,15,0.003353,682,0.152436,14,0.003129,0.0,0.0,0.120474
32,SMI_JOH_1,914,0,0,142,67,34,5,1,871,...,0.263995,2,0.000448,547,0.122481,1,0.000224,0.0,0.0,0.204657
33,SMI_JOH_2,230,92,0,97,52,25,2,0,1179,...,0.180636,5,0.001121,415,0.093008,0,0.000000,0.0,0.0,0.051546
34,LET_NOB,1305,2,9,97,31,16,11,7,470,...,0.578405,7,0.001568,138,0.030914,7,0.001568,0.0,0.0,0.292339
35,LET_TAB,1156,6,2,158,17,11,7,5,662,...,0.516360,6,0.001345,110,0.024653,5,0.001121,0.0,0.0,0.259077
36,WIS_COO_2,238,20,1,65,159,44,5,3,1156,...,0.114662,8,0.001788,553,0.123603,3,0.000671,0.0,0.0,0.053196
37,WIS_HIG,10,11,2,214,267,238,113,6,1613,...,0.044101,8,0.001791,494,0.110589,6,0.001343,0.0,0.0,0.002239
38,WIS_MEG_1,128,48,80,278,474,207,33,4,805,...,0.064068,4,0.000896,819,0.183468,4,0.000896,0.0,0.0,0.028674
39,WIS_KEN,7,851,0,307,377,301,90,3,859,...,0.034460,5,0.001119,332,0.074290,3,0.000671,0.0,0.0,0.001566
40,WIS_COO_1,419,11,0,71,35,5,0,0,811,...,0.196909,2,0.000448,1077,0.241263,0,0.000000,0.0,0.0,0.093862
41,DEG_PER_STRIP,667,0,0,157,62,8,1,0,937,...,0.302237,1,0.000224,453,0.101342,0,0.000000,0.0,0.0,0.149217
42,DEG_FOU_WOOD,1074,0,0,173,83,7,0,2,478,...,0.323925,3,0.000672,586,0.131272,2,0.000448,0.0,0.0,0.240591
43,DEG_DIE_HILL,420,31,11,203,412,191,55,17,393,...,0.231148,24,0.005370,731,0.163571,17,0.003804,0.0,0.0,0.093981
44,DEG_DIE_SWC,871,2,2,222,86,16,3,2,786,...,0.258837,7,0.001566,796,0.178076,2,0.000447,0.0,0.0,0.194855
45,DEG_YOU_BOCES,409,6,0,272,444,148,26,5,569,...,0.122143,12,0.002689,999,0.223891,5,0.001121,0.0,0.0,0.091663
46,DEG_YOU_OSHEA,951,40,0,220,280,86,3,0,869,...,0.332811,4,0.000895,170,0.038048,0,0.000000,0.0,0.0,0.212847
47,DEG_YOU_JONES,817,46,6,143,217,39,3,6,561,...,0.280725,8,0.001791,688,0.154018,6,0.001343,0.0,0.0,0.182897
48,DEG_VIL,998,105,0,137,211,60,1,3,590,...,0.329225,8,0.001793,514,0.115195,3,0.000672,0.0,0.0,0.223667
49,ZUE_REE,254,517,6,88,93,21,1,0,392,...,0.318548,0,0.000000,395,0.088486,0,0.000000,0.0,0.0,0.056900
50,GAB_ALL,0,0,0,0,0,0,0,0,0,...,0.000000,0,0.000000,0,0.000000,0,0.000000,0.0,0.0,0.000000

In [495]:
landscape_2000 = pd.read_csv("Landscape/2023_scm_cdl_2000m.csv")
landscape_2000["Prop_Corn"] = landscape_2000["Corn"] / landscape_2000["Total"]
landscape_2000 = clean_columns(landscape_2000).drop("unnamed_0", axis=1)
landscape_2000

,site_id,corn,open_water,sweet_corn,developed_open_space,developed_low_intensity,developed_med_intensity,developed_high_intensity,barren,deciduous_forest,...,ag_prop,nat,nat_prop,semi_nat,semi_nat_prop,dev,dev_prop,other,other_prop,prop_corn
0,POV_DUN,88,78,2,1218,407,94,21,123,3831,...,0.032158,153,0.009648,3407,0.214831,123,0.007756,0.0,0.0,0.005549
1,DIP_FLE,3139,3,32,379,543,90,9,5,3040,...,0.358790,24,0.001512,1581,0.099622,5,0.000315,0.0,0.0,0.197795
2,DIP_CUR,3123,3,2,640,282,91,63,6,3298,...,0.261459,30,0.001891,2735,0.172436,6,0.000378,0.0,0.0,0.196898
3,GAB_STE,1697,147,4,209,243,127,18,39,4855,...,0.182580,52,0.003277,2556,0.161089,39,0.002458,0.0,0.0,0.106952
4,MIL_YOD_1,2028,2,0,526,97,45,5,3,3858,...,0.314264,17,0.001071,2828,0.178175,3,0.000189,0.0,0.0,0.127772
5,MIL_CHA_1,4277,0,2,572,118,61,8,4,3123,...,0.475455,10,0.000630,1405,0.088537,4,0.000252,0.0,0.0,0.269519
6,MIL_MCC_1,2122,32,0,691,546,294,58,5,3019,...,0.296710,18,0.001135,2356,0.148512,5,0.000315,0.0,0.0,0.133762
7,KAT_SAU_1,1178,1,0,719,67,22,5,1,5814,...,0.091861,7,0.000441,1869,0.117836,1,0.000063,0.0,0.0,0.074270
8,KAT_SAU_2,1894,1,2,722,73,31,5,2,4581,...,0.144568,12,0.000757,2242,0.141353,2,0.000126,0.0,0.0,0.119412
9,KAT_TEE_1,1027,12,0,539,85,48,4,0,6324,...,0.091734,1,0.000063,1520,0.095833,0,0.000000,0.0,0.0,0.064750
10,KAT_TEE_2,1104,29,1,508,86,36,1,2,5974,...,0.105346,3,0.000189,1050,0.066196,2,0.000126,0.0,0.0,0.069600
11,KAT_HAB_2,3299,6,2,611,85,51,10,6,2686,...,0.262776,10,0.000630,1296,0.081669,6,0.000378,0.0,0.0,0.207890
12,KAT_HAB_1,2115,11,0,1610,401,103,25,5,2998,...,0.214358,9,0.000567,1600,0.100845,5,0.000315,0.0,0.0,0.133304
13,KAT_BAR,1173,284,0,592,259,191,9,19,5411,...,0.097516,23,0.001450,1553,0.097895,19,0.001198,0.0,0.0,0.073941
14,KAT_JEF_1,802,11,2,417,250,91,15,2,2988,...,0.058679,4,0.000252,2721,0.171499,2,0.000126,0.0,0.0,0.050548
15,KAT_JEF_2,1045,24,0,254,137,40,4,1,2918,...,0.078480,1,0.000063,1402,0.088376,1,0.000063,0.0,0.0,0.065872
16,STA_WIL_1,4055,9,0,728,124,46,3,3,1943,...,0.471700,5,0.000315,1336,0.084205,3,0.000189,0.0,0.0,0.255578
17,STA_HEM_2,2991,24,13,480,229,121,62,269,1836,...,0.401336,274,0.017269,1445,0.091070,269,0.016953,0.0,0.0,0.188504
18,STA_HEM_1,4178,49,4,644,224,56,16,25,1959,...,0.487047,28,0.001765,1295,0.081626,25,0.001576,0.0,0.0,0.263347
19,STA_SWE_1,2882,11,10,613,160,22,2,0,4997,...,0.332094,46,0.002899,1278,0.080550,0,0.000000,0.0,0.0,0.181646
20,STA_COL_1,1949,25,151,833,524,188,15,11,2348,...,0.260448,17,0.001072,2704,0.170438,11,0.000693,0.0,0.0,0.122849
21,DIP_PAT,4800,2,30,241,368,144,57,15,1566,...,0.578317,25,0.001576,1030,0.064923,15,0.000945,0.0,0.0,0.302553
22,SMI_CRO,1711,25,0,433,250,69,6,2,1740,...,0.202017,6,0.000378,2909,0.183360,2,0.000126,0.0,0.0,0.107847
23,SMI_CAN,1871,49,0,444,227,91,17,16,3464,...,0.266784,21,0.001324,2260,0.142470,16,0.001009,0.0,0.0,0.117947
24,SMI_KEL,2944,201,0,361,313,209,12,1,1681,...,0.345199,5,0.000315,2149,0.135396,1,0.000063,0.0,0.0,0.185484
25,SMI_COB,876,15,0,777,889,749,184,8,3129,...,0.184361,25,0.001575,2883,0.181652,8,0.000504,0.0,0.0,0.055195
26,SMI_DOU,816,210,0,1266,712,839,256,3,2927,...,0.108520,7,0.000441,2402,0.151374,3,0.000189,0.0,0.0,0.051424
27,SMI_LAT,2804,94,0,780,257,88,11,6,2754,...,0.349616,12,0.000756,2312,0.145720,6,0.000378,0.0,0.0,0.176730
28,SMI_MCC,2123,1,0,507,154,40,8,1,3521,...,0.202950,4,0.000252,3128,0.197151,1,0.000063,0.0,0.0,0.133808
29,SMI_DUR,1485,194,4,868,346,130,19,35,4046,...,0.147817,104,0.006553,2753,0.173461,35,0.002205,0.0,0.0,0.093567
30,SMI_HOL,2924,354,0,504,268,76,7,11,1607,...,0.300448,13,0.000820,1505,0.094875,11,0.000693,0.0,0.0,0.184328
31,SMI_HOF,1544,282,0,547,218,34,4,62,4367,...,0.141398,67,0.004224,2686,0.169325,62,0.003908,0.0,0.0,0.097333
32,SMI_JOH_1,2018,9,1,740,319,97,9,2,3500,...,0.235220,12,0.000756,3453,0.217635,2,0.000126,0.0,0.0,0.127190
33,SMI_JOH_2,992,133,1,848,582,245,129,22,4493,...,0.160638,50,0.003151,2665,0.167948,22,0.001386,0.0,0.0,0.062516
34,LET_NOB,5026,10,14,521,97,45,12,18,2199,...,0.577505,21,0.001323,771,0.048582,18,0.001134,0.0,0.0,0.316698
35,LET_TAB,4536,9,3,671,93,23,18,8,2134,...,0.573869,15,0.000945,399,0.025148,8,0.000504,0.0,0.0,0.285894
36,WIS_COO_2,1074,41,2,339,385,109,28,7,6256,...,0.117914,21,0.001324,2554,0.161044,7,0.000441,0.0,0.0,0.067722
37,WIS_HIG,28,145,3,652,729,596,225,36,8135,...,0.018660,42,0.002648,1296,0.081700,36,0.002269,0.0,0.0,0.001765
38,WIS_MEG_1,558,113,109,1092,1748,1030,219,13,3844,...,0.071937,17,0.001072,3085,0.194502,13,0.000820,0.0,0.0,0.035181
39,WIS_KEN,73,3172,6,826,1020,926,567,22,3807,...,0.048757,34,0.002145,1891,0.119276,22,0.001388,0.0,0.0,0.004605
40,WIS_COO_1,1285,94,2,327,270,51,9,1,4664,...,0.165101,10,0.000631,3735,0.235543,1,0.000063,0.0,0.0,0.081037
41,DEG_PER_STRIP,1907,1,2,508,237,31,3,2,6039,...,0.210085,11,0.000693,1911,0.120454,2,0.000126,0.0,0.0,0.120202
42,DEG_FOU_WOOD,3748,2,2,604,350,73,4,5,2395,...,0.343520,17,0.001071,2424,0.152731,5,0.000315,0.0,0.0,0.236154
43,DEG_DIE_HILL,1083,565,19,723,1601,1424,534,123,2828,...,0.130054,146,0.009208,2410,0.152003,123,0.007758,0.0,0.0,0.068307
44,DEG_DIE_SWC,1939,19,9,644,292,78,21,15,5502,...,0.176723,31,0.001954,2611,0.164618,15,0.000946,0.0,0.0,0.122250
45,DEG_YOU_BOCES,1360,26,2,1025,1633,1201,286,24,3113,...,0.172770,40,0.002521,2321,0.146297,24,0.001513,0.0,0.0,0.085723
46,DEG_YOU_OSHEA,1955,274,0,1236,1697,685,102,1,3639,...,0.221311,19,0.001198,1348,0.084994,1,0.000063,0.0,0.0,0.123266
47,DEG_YOU_JONES,2092,549,9,547,600,139,21,44,3926,...,0.227307,52,0.003278,2496,0.157337,44,0.002774,0.0,0.0,0.131871
48,DEG_VIL,2396,387,9,434,622,147,21,13,4168,...,0.246470,23,0.001450,2350,0.148134,13,0.000819,0.0,0.0,0.151034
49,ZUE_REE,1232,4393,9,315,299,63,3,3,1679,...,0.302482,6,0.000378,903,0.056893,3,0.000189,0.0,0.0,0.077621
50,GAB_ALL,0,0,0,0,0,0,0,0,0,...,0.000000,0,0.000000,0,0.000000,0,0.000000,0.0,0.0,0.000000

### Soil

In [496]:
soil = pd.read_csv("Data/2023_scm_soil.csv")
soil = clean_columns(soil)
soil

,record_id,ny_soils_0,ny_soils_01,muid,hsg,hsgint,muserial,hsga,hsgb,hsgc,hsgd,hsgw
0,POV_DUN,2404,4346,NY134,A,1,6801,58,27,0,15,0
1,DIP_FLE,2190,4201,NY131,A,1,6798,0,14,63,23,0
2,DIP_CUR,2085,5669,NY134,A,1,6801,58,27,0,15,0
3,GAB_STE,1376,5311,NY084,A,1,6752,62,23,13,2,0
4,SMI_CRO,1779,5454,NY131,A,1,6798,0,14,63,23,0
5,SMI_CAN,1511,5436,NY128,B,2,6795,0,90,6,4,0
6,SMI_KEL,1659,5444,NY007,C,3,6681,0,40,48,12,0
7,SMI_COB,2029,3921,NY099,A,1,6767,54,28,6,12,0
8,SMI_DOU,1349,3760,NY007,C,3,6681,0,40,48,12,0
9,SMI_MCC,1401,3769,NY142,D,4,6809,0,34,31,35,0
10,SMI_HOL,1779,5454,NY131,A,1,6798,0,14,63,23,0
11,DIP_PAT,1577,5558,NY131,A,1,6798,0,14,63,23,0
12,MIL_YOD_1,1559,5483,NY128,B,2,6795,0,90,6,4,0
13,MIL_CHA_1,1559,5483,NY128,B,2,6795,0,90,6,4,0
14,MIL_MCC_1,1596,5481,NY012,B,2,6685,0,88,9,3,0
15,KAT_SAU_1,2607,5931,NY129,C,3,6796,0,0,100,0,0
16,KAT_SAU_2,2607,5931,NY129,C,3,6796,0,0,100,0,0
17,KAT_TEE_1,2446,4660,NY134,A,1,6801,58,27,0,15,0
18,KAT_TEE_2,2450,4657,NY125,B,2,6792,15,56,29,0,0
19,KAT_HAB_2,2088,4489,NY126,C,3,6793,0,5,77,18,0
20,KAT_HAB_1,2251,4565,NY077,C,3,6745,0,17,81,2,0
21,KAT_BAR,2796,5952,NY044,B,2,6717,26,37,20,17,0
22,SMI_LAT,2103,4062,NY125,B,2,6792,15,56,29,0,0
23,SMI_DUR,1488,5493,NY142,D,4,6809,0,34,31,35,0
24,SMI_HOF,2224,4108,NY134,A,1,6801,58,27,0,15,0
25,SMI_JOH_1,1483,5475,NY134,A,1,6801,58,27,0,15,0
26,SMI_JOH_2,1477,5478,NY142,D,4,6809,0,34,31,35,0
27,GAB_ALL,1205,5295,NY138,C,3,6805,0,11,63,26,0
28,KAT_JEF_1,2501,5970,NY125,B,2,6792,15,56,29,0,0
29,KAT_JEF_2,2501,5970,NY125,B,2,6792,15,56,29,0,0
30,STA_WIL_1,1515,5592,NY128,B,2,6795,0,90,6,4,0
31,STA_HEM_2,1686,5631,NY128,B,2,6795,0,90,6,4,0
32,STA_HEM_1,1686,5631,NY128,B,2,6795,0,90,6,4,0
33,STA_SWE_1,1807,5694,NY093,B,2,6761,5,59,2,34,0
34,STA_COL_1,1264,5575,NY138,C,3,6805,0,11,63,26,0
35,WIS_COO_2,2914,4436,NY149,A,1,6816,71,12,11,6,0
36,WIS_COO_1,2877,5744,NY062,C,3,6734,6,0,90,4,0
37,LET_NOB,1538,5653,NY128,B,2,6795,0,90,6,4,0
38,LET_TAB,2067,5738,NY127,C,3,6794,0,3,97,0,0
39,WIS_HIG,2962,5872,NY156,C,3,6823,0,0,97,3,0
40,WIS_MEG_1,2850,5739,NY149,A,1,6816,71,12,11,6,0
41,WIS_KEN,2904,5799,NY062,C,3,6734,6,0,90,4,0
42,ZUE_REE,1847,4084,NY131,A,1,6798,0,14,63,23,0
43,DEG_PER_STRIP,1933,4067,NY126,C,3,6793,0,5,77,18,0
44,DEG_FOU_WOOD,1933,4067,NY126,C,3,6793,0,5,77,18,0
45,DEG_DIE_HILL,2182,5681,NY127,C,3,6794,0,3,97,0,0
46,DEG_DIE_SWC,1860,5590,NY134,A,1,6801,58,27,0,15,0
47,DEG_YOU_BOCES,1860,5590,NY134,A,1,6801,58,27,0,15,0
48,DEG_YOU_OSHEA,1968,5632,NY126,C,3,6793,0,5,77,18,0
49,DEG_YOU_JONES,1859,5603,NY094,B,2,6762,30,58,2,10,0
50,DEG_VIL,1859,5603,NY094,B,2,6762,30,58,2,10,0
51,SEA_HOO,1686,5631,NY128,B,2,6795,0,90,6,4,0
52,MIL_HUM,1479,5431,NY131,A,1,6798,0,14,63,23,0
53,ONE_TER_1,157,3136,NY145,C,3,6812,0,15,32,53,0
54,ONE_ADO_1,196,3156,NY151,C,3,6818,0,0,66,34,0
55,ONE_STA_1,113,3087,NY145,C,3,6812,0,15,32,53,0

### Management

In [497]:
management = pd.read_csv("Data/2023_management.csv")
management = clean_columns(management)
management

         field_id cover_crop manure
0         POV_DUN         No     No
1         DIP_FLE        Yes     No
2         DIP_CUR        Yes     No
3         GAB_STE         No    Yes
4         SMI_CRO         No     No
5         SMI_CAN         No    Yes
6         SMI_KEL        Yes    Yes
7         SMI_COB        Yes     No
8         SMI_DOU         No    Yes
9         SMI_MCC         No     No
10        SMI_HOL         No     No
11        DIP_PAT        Yes    Yes
12      MIL_YOD_1        Yes    Yes
13      MIL_CHA_1         No    Yes
14      MIL_MCC_1         No    Yes
15      KAT_SAU_1        Yes    Yes
16      KAT_SAU_2        Yes    Yes
17      KAT_TEE_1         No    Yes
18      KAT_TEE_2         No    Yes
19      KAT_HAB_2        Yes    Yes
20      KAT_HAB_1         No     No
21        KAT_BAR         No     No
22        SMI_LAT        Yes    Yes
23        SMI_DUR        Yes    Yes
24        SMI_HOF        Yes     No
25      SMI_JOH_1         No    Yes
26      SMI_JOH_2        Yes     No
27        GAB_ALL         No    Yes
28      KAT_JEF_1         No    Yes
29      KAT_JEF_2         No    Yes
30      STA_WIL_1        Yes     No
31      STA_HEM_2        Yes    Yes
32      STA_HEM_1        Yes    Yes
33      STA_SWE_1        Yes    NaN
34      STA_COL_1        Yes    Yes
35      WIS_COO_2         No     No
36      WIS_COO_1         No    Yes
37        LET_NOB        Yes    Yes
38        LET_TAB        Yes    Yes
39        WIS_HIG        Yes     No
40      WIS_MEG_1         No     No
41        WIS_KEN        Yes     No
42        ZUE_REE        NaN    NaN
43  DEG_PER_STRIP    Partial     No
44   DEG_FOU_WOOD    Partial     No
45   DEG_DIE_HILL         No     No
46    DEG_DIE_SWC         No     No
47  DEG_YOU_BOCES         No    Yes
48  DEG_YOU_OSHEA         No    NaN
49  DEG_YOU_JONES         No    Yes
50        DEG_VIL        Yes    NaN
51        SEA_HOO        Yes    Yes
52        MIL_HUM        NaN    NaN
53      ONE_TER_1         No    Yes
54      ONE_ADO_1         No    Yes
55      ONE_STA_1         No    Yes

### Planting Date

In [498]:
planting_date = pd.read_csv("Data/2023_scm_planting_dates.csv")
planting_date = clean_columns(planting_date)
planting_date["planting_date"] = pd.to_datetime(
    planting_date["planting_date"], format="%m/%d/%y"
)
planting_date = planting_date.drop_duplicates("field_id")
planting_date["start_week"] = planting_date["planting_date"] - pd.Timedelta(7, unit="d")
planting_date

/var/folders/vt/gz9c8wh17772k93xq1vtnl0c0000gn/T/ipykernel_41607/3314138927.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  planting_date["start_week"] = planting_date["planting_date"] - pd.Timedelta(7, unit="d")

         field_id planting_date start_week
0         LET_TAB    2023-05-07 2023-04-30
2         GAB_ALL    2023-05-09 2023-05-02
4         SMI_CRO    2023-05-09 2023-05-02
6         SMI_DOU    2023-05-10 2023-05-03
8   DEG_PER_STRIP    2023-05-10 2023-05-03
10        DIP_PAT    2023-05-11 2023-05-04
12      KAT_TEE_2    2023-05-11 2023-05-04
16      KAT_TEE_1    2023-05-13 2023-05-06
18        SMI_COB    2023-05-13 2023-05-06
20      SMI_JOH_1    2023-05-13 2023-05-06
22      STA_HEM_1    2023-05-15 2023-05-08
24      STA_HEM_2    2023-05-15 2023-05-08
26        SMI_MCC    2023-05-15 2023-05-08
28        DEG_VIL    2023-05-15 2023-05-08
32        SEA_HOO    2023-05-15 2023-05-08
34      ONE_STA_1    2023-05-15 2023-05-08
36        SMI_LAT    2023-05-17 2023-05-10
38   DEG_FOU_WOOD    2023-05-18 2023-05-11
40        SMI_HOF    2023-05-18 2023-05-11
42        POV_DUN    2023-05-19 2023-05-12
44        DIP_CUR    2023-05-19 2023-05-12
46      KAT_JEF_2    2023-05-22 2023-05-15
50        KAT_BAR    2023-05-22 2023-05-15
52        GAB_STE    2023-05-23 2023-05-16
54        DIP_FLE    2023-05-23 2023-05-16
56        SMI_HOL    2023-05-24 2023-05-17
58      KAT_JEF_1    2023-05-29 2023-05-22
60      KAT_HAB_2    2023-05-29 2023-05-22
62      STA_COL_1    2023-05-30 2023-05-23
63      STA_WIL_1    2023-05-30 2023-05-23
68      KAT_SAU_2    2023-06-08 2023-06-01

Average climate data for the week leading up to planting date, per site.

In [499]:
planting_temps = climate.merge(
    planting_date, left_on=["record_id"], right_on=["field_id"], how="left"
)
planting_temps = planting_temps.dropna()
planting_temps = planting_temps.loc[
    (planting_temps["date"] >= planting_temps["start_week"])
    & (planting_temps["date"] <= planting_temps["planting_date"])
]
planting_temps = planting_temps.drop(
    ["date", "week", "start_week", "longitude", "latitude", "elevation", "field_id"],
    axis=1,
)
planting_temps = planting_temps.groupby("record_id").mean()
# planting_temps.to_csv('Data/planting_date_climate.csv')
planting_temps

               rain_inches  min_temp_f  ave_temp_f  max_temp_f planting_date
record_id
DEG_FOU_WOOD       0.00000     36.7500     51.4625     66.1625    2023-05-18
DEG_PER_STRIP      0.08750     36.3250     46.5125     56.7250    2023-05-10
DEG_VIL            0.03375     39.4375     52.8500     66.2750    2023-05-15
DIP_CUR            0.00000     38.1875     51.7500     65.3000    2023-05-19
DIP_FLE            0.02875     41.7250     54.2750     66.7875    2023-05-23
DIP_PAT            0.04625     39.9625     50.8250     61.7000    2023-05-11
GAB_ALL            0.05000     43.2750     53.5625     63.8500    2023-05-09
GAB_STE            0.03125     43.7000     56.3750     69.0750    2023-05-23
KAT_BAR            0.02125     37.9125     53.3875     68.8625    2023-05-22
KAT_HAB_2          0.00000     43.2125     57.7000     72.1250    2023-05-29
KAT_JEF_1          0.00000     41.5250     56.7750     72.0750    2023-05-29
KAT_JEF_2          0.07375     38.0625     51.8125     65.6000    2023-05-22
KAT_SAU_2          0.00000     46.2375     60.5750     74.9125    2023-06-08
KAT_TEE_1          0.01000     39.6375     54.0000     68.3250    2023-05-13
KAT_TEE_2          0.03750     37.1750     48.9375     60.6750    2023-05-11
LET_TAB            0.14500     37.1750     45.7375     54.3375    2023-05-07
ONE_STA_1          0.00750     42.2000     56.2500     70.3125    2023-05-15
POV_DUN            0.00000     37.4625     52.2000     66.9250    2023-05-19
SEA_HOO            0.02125     45.8875     57.6125     69.3000    2023-05-15
SMI_COB            0.00875     40.1875     54.6250     69.0875    2023-05-13
SMI_CRO            0.12000     39.3000     49.1375     59.0000    2023-05-09
SMI_DOU            0.06625     39.2250     50.0625     60.8750    2023-05-10
SMI_HOF            0.00000     37.4000     53.2625     69.1125    2023-05-18
SMI_HOL            0.00625     45.5250     57.5125     69.4375    2023-05-24
SMI_JOH_1          0.01875     42.2750     55.0750     67.8875    2023-05-13
SMI_LAT            0.00000     36.8250     54.1375     71.4625    2023-05-17
SMI_MCC            0.00625     38.7500     53.2125     67.7125    2023-05-15
STA_COL_1          0.00250     45.3500     57.8875     70.4125    2023-05-30
STA_HEM_1          0.02875     45.1875     56.8500     68.5250    2023-05-15
STA_HEM_2          0.02625     45.5250     56.8625     68.2125    2023-05-15
STA_WIL_1          0.00500     45.7125     58.3375     70.9625    2023-05-30

Average climate data for the week leading up to planting date, across all sites.

In [500]:
planting_temps.mean(numeric_only=True)

rain_inches     0.028468
min_temp_f     40.874597
ave_temp_f     53.856855
max_temp_f     66.839113
dtype: float64

Average climate data for the week leading up to planting date, per site for early planting dates (before 5/15).

In [501]:
early_planting_temps = planting_temps.loc[
    planting_temps["planting_date"] <= "2023-05-15"
]
early_planting_temps

               rain_inches  min_temp_f  ave_temp_f  max_temp_f planting_date
record_id
DEG_PER_STRIP      0.08750     36.3250     46.5125     56.7250    2023-05-10
DEG_VIL            0.03375     39.4375     52.8500     66.2750    2023-05-15
DIP_PAT            0.04625     39.9625     50.8250     61.7000    2023-05-11
GAB_ALL            0.05000     43.2750     53.5625     63.8500    2023-05-09
KAT_TEE_1          0.01000     39.6375     54.0000     68.3250    2023-05-13
KAT_TEE_2          0.03750     37.1750     48.9375     60.6750    2023-05-11
LET_TAB            0.14500     37.1750     45.7375     54.3375    2023-05-07
ONE_STA_1          0.00750     42.2000     56.2500     70.3125    2023-05-15
SEA_HOO            0.02125     45.8875     57.6125     69.3000    2023-05-15
SMI_COB            0.00875     40.1875     54.6250     69.0875    2023-05-13
SMI_CRO            0.12000     39.3000     49.1375     59.0000    2023-05-09
SMI_DOU            0.06625     39.2250     50.0625     60.8750    2023-05-10
SMI_JOH_1          0.01875     42.2750     55.0750     67.8875    2023-05-13
SMI_MCC            0.00625     38.7500     53.2125     67.7125    2023-05-15
STA_HEM_1          0.02875     45.1875     56.8500     68.5250    2023-05-15
STA_HEM_2          0.02625     45.5250     56.8625     68.2125    2023-05-15

Average climate data for the week leading up to planting date, across all sites for early planting dates (before 5/15).

In [502]:
early_planting_temps.mean(numeric_only=True)

rain_inches     0.044609
min_temp_f     40.720312
ave_temp_f     52.632031
max_temp_f     64.550000
dtype: float64

In [503]:
early_planting_temps["range"] = (
    early_planting_temps["max_temp_f"] - early_planting_temps["min_temp_f"]
)
early_planting_temps

/var/folders/vt/gz9c8wh17772k93xq1vtnl0c0000gn/T/ipykernel_41607/3552099968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  early_planting_temps["range"] = (

,rain_inches,min_temp_f,ave_temp_f,max_temp_f,planting_date,range
record_id,,,,,,
DEG_PER_STRIP,0.08750,36.3250,46.5125,56.7250,2023-05-10,20.4000
DEG_VIL,0.03375,39.4375,52.8500,66.2750,2023-05-15,26.8375
DIP_PAT,0.04625,39.9625,50.8250,61.7000,2023-05-11,21.7375
GAB_ALL,0.05000,43.2750,53.5625,63.8500,2023-05-09,20.5750
KAT_TEE_1,0.01000,39.6375,54.0000,68.3250,2023-05-13,28.6875
KAT_TEE_2,0.03750,37.1750,48.9375,60.6750,2023-05-11,23.5000
LET_TAB,0.14500,37.1750,45.7375,54.3375,2023-05-07,17.1625
ONE_STA_1,0.00750,42.2000,56.2500,70.3125,2023-05-15,28.1125
SEA_HOO,0.02125,45.8875,57.6125,69.3000,2023-05-15,23.4125
SMI_COB,0.00875,40.1875,54.6250,69.0875,2023-05-13,28.9000
SMI_CRO,0.12000,39.3000,49.1375,59.0000,2023-05-09,19.7000
SMI_DOU,0.06625,39.2250,50.0625,60.8750,2023-05-10,21.6500
SMI_JOH_1,0.01875,42.2750,55.0750,67.8875,2023-05-13,25.6125
SMI_MCC,0.00625,38.7500,53.2125,67.7125,2023-05-15,28.9625
STA_HEM_1,0.02875,45.1875,56.8500,68.5250,2023-05-15,23.3375
STA_HEM_2,0.02625,45.5250,56.8625,68.2125,2023-05-15,22.6875

In [504]:
np.mean(early_planting_temps["range"])

23.829687500000006

### Adult Abundance Count Data

In [505]:
scm_counts = pd.read_csv("Data/2023_scm_counts.csv")
scm_counts = clean_columns(scm_counts)
scm_counts["date"] = pd.to_datetime(scm_counts["date"], format="%m/%d/%y")
scm_counts["week"] = scm_counts["date"].dt.strftime("%U").astype(int)
scm_counts = scm_counts.drop(['initials', 'notes'], axis=1)
scm_counts

,card_id,data_collector,site,date,n_scm_i_m,n_scm_i_f,n_scm_o_m,n_scm_o_f,n_d_florilega_i,n_d_florilega_o,week
0,2001,Anna DiPaola,DIP_CUR,2023-03-13,0.0,0.0,0.0,0.0,0.0,0.0,11
1,2002,Anna DiPaola,DIP_CUR,2023-03-13,0.0,0.0,0.0,0.0,0.0,0.0,11
2,2003,Anna DiPaola,POV_DUN,2023-03-13,0.0,0.0,0.0,0.0,0.0,0.0,11
3,2004,Anna DiPaola,POV_DUN,2023-03-13,0.0,0.0,0.0,0.0,0.0,0.0,11
4,2005,Anna DiPaola,DIP_FLE,2023-03-13,0.0,0.0,0.0,0.0,0.0,0.0,11
...,...,...,...,...,...,...,...,...,...,...,...
421,2422,Roberto Regaldo,WIS_KEN_1,2023-05-05,NaN,NaN,NaN,NaN,NaN,NaN,18
422,2423,Ken Wise,WIS_COO_1,2023-05-03,NaN,NaN,NaN,NaN,NaN,NaN,18
423,2424,Ken Wise,WIS_COO_1,2023-05-03,NaN,NaN,NaN,NaN,NaN,NaN,18
424,2425,Ken Wise,WIS_COO_2,2023-05-03,NaN,NaN,NaN,NaN,NaN,NaN,18
425,2426,Ken Wise,WIS_COO_2,2023-05-03,NaN,NaN,NaN,NaN,NaN,NaN,18

### GDD Data

In [506]:
gdd = pd.read_csv("Data/2023_scm_gdd.csv")
gdd = clean_columns(gdd)
gdd["date"] = pd.to_datetime(gdd["date"], format="%Y-%m-%d")
gdd["week"] = gdd["date"].dt.strftime("%U").astype(int)
gdd

,record_id,date,temp_max_f,temp_min_f,temp_mean_f,gdd_fahrenheit_simple,gdd_fahrenheit_sine,gdd_fahrenheit_simple_cumsum,gdd_fahrenheit_sine_cum_sum,temp_max_c,temp_min_c,temp_mean_c,gdd_celsius_simple,gdd_celsius_sine,gdd_celsius_simple_cum_sum,gdd_celsius_sine_cum_sum,week
0,POV_DUN,2023-01-01,51,36,43.5,4.5,5.083043,4.5,5.083043,10.555556,2.222222,6.388889,2.500000,2.823913,2.500000,2.823913,1
1,POV_DUN,2023-01-02,43,37,40.0,1.0,1.509001,5.5,6.592044,6.111111,2.777778,4.444444,0.555556,0.838334,3.055556,3.662247,1
2,POV_DUN,2023-01-03,48,29,38.5,0.0,2.779669,5.5,9.371713,8.888889,-1.666667,3.611111,0.000000,1.544261,3.055556,5.206507,1
3,POV_DUN,2023-01-04,52,38,45.0,6.0,6.115838,11.5,15.487552,11.111111,3.333333,7.222222,3.333333,3.397688,6.388889,8.604195,1
4,POV_DUN,2023-01-05,57,37,47.0,8.0,8.273364,19.5,23.760915,13.888889,2.777778,8.333333,4.444444,4.596313,10.833333,13.200508,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10131,ONE_STA_1,2023-06-26,80,65,72.5,33.5,33.500000,1438.0,1496.852715,26.666667,18.333333,22.500000,18.611111,18.611111,798.888889,831.584842,26
10132,ONE_STA_1,2023-06-27,85,65,75.0,36.0,36.000000,1474.0,1532.852715,29.444444,18.333333,23.888889,20.000000,20.000000,818.888889,851.584842,26
10133,ONE_STA_1,2023-06-28,80,62,71.0,32.0,32.000000,1506.0,1564.852715,26.666667,16.666667,21.666667,17.777778,17.777778,836.666667,869.362619,26
10134,ONE_STA_1,2023-06-29,67,59,63.0,24.0,24.000000,1530.0,1588.852715,19.444444,15.000000,17.222222,13.333333,13.333333,850.000000,882.695953,26
10135,ONE_STA_1,2023-06-30,80,56,68.0,29.0,29.000000,1559.0,1617.852715,26.666667,13.333333,20.000000,16.111111,16.111111,866.111111,898.807064,26

### Wire Mesh Data (Risk)

In [507]:
wire_mesh = pd.read_csv("Data/2023_wire_mesh.csv")
wire_mesh = clean_columns(wire_mesh)
wire_mesh["number_wireworm"] = (
    wire_mesh["number_wireworm"].replace(">10", 10).astype(float)
)
wire_mesh["total_phorid_maggots"] = (
    wire_mesh["total_phorid_maggots"].replace(">10", 10).astype(float)
)
wire_mesh["total_phorid_pupae"] = (
    wire_mesh["total_phorid_pupae"].replace(">10", 10).astype(float)
)

wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,phorid_seeds,total_phorid_maggots,total_phorid_pupae,notes
0,1.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,1.0,1.0,1.0,NaN
1,2.0,3011.0,R,Loose,NaN,NaN,NaN,0.0,0.0,0.0,NaN,1.0,2.0,NaN
2,3.0,3011.0,R,Total,8.0,1.0,2.0,1.0,2.0,0.0,1.0,2.0,3.0,NaN
3,4.0,3009.0,R,Corn,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,5.0,3009.0,R,Loose,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5446,5447.0,NaN,NaN,Loose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5447,5448.0,NaN,NaN,Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5448,5449.0,NaN,NaN,Bean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5449,5450.0,NaN,NaN,Loose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5450,NaN,NaN,NaN,Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

### Wire Mesh Intake

Contains mapping for container ID and field ID.

In [508]:
wire_mesh_intake = pd.read_csv("Data/2023_wire_mesh_intake.csv")
wire_mesh_intake = clean_columns(wire_mesh_intake)
wire_mesh_intake = wire_mesh_intake.loc[wire_mesh_intake["project"] == "R"]
wire_mesh_intake

,container_number,container_type,project,record_id,collection_date,notes
0,3001,deli cup,R,POV_DUN,4/18/23,NaN
1,3002,deli cup,R,POV_DUN,4/18/23,NaN
2,3003,deli cup,R,DIP_CUR,4/18/23,NaN
3,3004,deli cup,R,DIP_CUR,4/18/23,NaN
4,3005,deli cup,R,DIP_PAT,4/18/23,NaN
...,...,...,...,...,...,...
2135,5134,sushi container,R,SMI_CAN,6/12/23,NaN
2136,5135,sushi container,R,SMI_KEL,6/27/23,NaN
2137,5136,sushi container,R,SMI_KEL,6/27/23,NaN
2138,5137,sushi container,R,SMI_KEL,6/27/23,NaN
2139,5138,sushi container,R,SMI_KEL,6/27/23,NaN

In [509]:
wire_mesh = wire_mesh.merge(
    wire_mesh_intake[
        ["container_number", "container_type", "collection_date", "record_id"]
    ],
    on="container_number",
    how="left",
)
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,phorid_seeds,total_phorid_maggots,total_phorid_pupae,notes,container_type,collection_date,record_id
0,1.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,1.0,1.0,1.0,NaN,deli cup,4/17/23,GAB_ALL
1,2.0,3011.0,R,Loose,NaN,NaN,NaN,0.0,0.0,0.0,NaN,1.0,2.0,NaN,deli cup,4/17/23,GAB_ALL
2,3.0,3011.0,R,Total,8.0,1.0,2.0,1.0,2.0,0.0,1.0,2.0,3.0,NaN,deli cup,4/17/23,GAB_ALL
3,4.0,3009.0,R,Corn,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,4/17/23,GAB_STE
4,5.0,3009.0,R,Loose,NaN,NaN,NaN,0.0,0.0,0.0,NaN,0.0,0.0,NaN,deli cup,4/17/23,GAB_STE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455,5447.0,NaN,NaN,Loose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5456,5448.0,NaN,NaN,Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5457,5449.0,NaN,NaN,Bean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5458,5450.0,NaN,NaN,Loose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5459,NaN,NaN,NaN,Total,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [510]:
bean_containers = wire_mesh[wire_mesh["seed_type"] == "Bean"]
bean_containers = bean_containers["container_number"]
bean_containers

0       3011.0
6       3068.0
12      3010.0
18      3003.0
27      3042.0
         ...
5445       NaN
5448       NaN
5451       NaN
5454       NaN
5457       NaN
Name: container_number, Length: 1048, dtype: float64

In [511]:
corn_containers = wire_mesh[wire_mesh["seed_type"] == "Corn"]
corn_containers = corn_containers["container_number"]
corn_containers

3       3009.0
9       3067.0
15      3012.0
21      3005.0
24      3004.0
         ...
5427    5066.0
5430    4757.0
5433    4844.0
5436    5041.0
5439    5110.0
Name: container_number, Length: 772, dtype: float64

In [512]:
bean_data = wire_mesh[wire_mesh["container_number"].isin(bean_containers)]
bean_data = wire_mesh.loc[wire_mesh["seed_type"] == "Total"]
bean_data.loc[:, "seed_type"] = "Bean"
bean_data

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,phorid_seeds,total_phorid_maggots,total_phorid_pupae,notes,container_type,collection_date,record_id
2,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,1.0,2.0,3.0,NaN,deli cup,4/17/23,GAB_ALL
5,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,4/17/23,GAB_STE
8,9.0,3068.0,R,Bean,8.0,0.0,0.0,0.0,5.0,1.0,2.0,7.0,9.0,NaN,deli cup,4/18/23,SMI_JOH_2
11,12.0,3067.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,4/18/23,SMI_JOH_2
14,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,19.0,NaN,deli cup,4/17/23,GAB_STE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5447,5439.0,NaN,NaN,Bean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5450,5442.0,NaN,NaN,Bean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5453,5445.0,NaN,NaN,Bean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5456,5448.0,NaN,NaN,Bean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5459,NaN,NaN,NaN,Bean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [513]:
corn_data = wire_mesh[wire_mesh["container_number"].isin(corn_containers)]
corn_data = wire_mesh.loc[wire_mesh["seed_type"] == "Total"]
corn_data.loc[:, "seed_type"] = "Corn"
corn_data

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,phorid_seeds,total_phorid_maggots,total_phorid_pupae,notes,container_type,collection_date,record_id
2,3.0,3011.0,R,Corn,8.0,1.0,2.0,1.0,2.0,0.0,1.0,2.0,3.0,NaN,deli cup,4/17/23,GAB_ALL
5,6.0,3009.0,R,Corn,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,4/17/23,GAB_STE
8,9.0,3068.0,R,Corn,8.0,0.0,0.0,0.0,5.0,1.0,2.0,7.0,9.0,NaN,deli cup,4/18/23,SMI_JOH_2
11,12.0,3067.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,4/18/23,SMI_JOH_2
14,15.0,3010.0,R,Corn,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,19.0,NaN,deli cup,4/17/23,GAB_STE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5447,5439.0,NaN,NaN,Corn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5450,5442.0,NaN,NaN,Corn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5453,5445.0,NaN,NaN,Corn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5456,5448.0,NaN,NaN,Corn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5459,NaN,NaN,NaN,Corn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [514]:
wire_mesh = pd.concat([bean_data, corn_data], axis=0)
wire_mesh = wire_mesh.loc[wire_mesh["project"] == "R"]
wire_mesh["collection_date"] = pd.to_datetime(
    wire_mesh["collection_date"], format="%m/%d/%y"
)
# wire_mesh["week"] = wire_mesh["collection_date"].dt.strftime("%U").astype(int)
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,phorid_seeds,total_phorid_maggots,total_phorid_pupae,notes,container_type,collection_date,record_id
2,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,1.0,2.0,3.0,NaN,deli cup,2023-04-17,GAB_ALL
5,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-04-17,GAB_STE
8,9.0,3068.0,R,Bean,8.0,0.0,0.0,0.0,5.0,1.0,2.0,7.0,9.0,NaN,deli cup,2023-04-18,SMI_JOH_2
11,12.0,3067.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-04-18,SMI_JOH_2
14,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,19.0,NaN,deli cup,2023-04-17,GAB_STE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5192,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,deli cup,2023-06-06,DIP_FLE
5237,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-06-06,DIP_FLE
5411,5403.0,4214.0,R,Corn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-05-19,WIS_KEN
5441,5433.0,5110.0,R,Corn,10.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,deli cup,2023-06-12,SMI_CAN
5444,5436.0,5112.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-06-14,SMI_HOF

In [515]:
wire_mesh = wire_mesh.merge(
    management, left_on="record_id", right_on="field_id", how="left"
)
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,phorid_seeds,total_phorid_maggots,total_phorid_pupae,notes,container_type,collection_date,record_id,field_id,cover_crop,manure
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,1.0,2.0,3.0,NaN,deli cup,2023-04-17,GAB_ALL,GAB_ALL,No,Yes
1,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-04-17,GAB_STE,GAB_STE,No,Yes
2,9.0,3068.0,R,Bean,8.0,0.0,0.0,0.0,5.0,1.0,2.0,7.0,9.0,NaN,deli cup,2023-04-18,SMI_JOH_2,SMI_JOH_2,Yes,No
3,12.0,3067.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-04-18,SMI_JOH_2,SMI_JOH_2,Yes,No
4,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,19.0,NaN,deli cup,2023-04-17,GAB_STE,GAB_STE,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,deli cup,2023-06-06,DIP_FLE,DIP_FLE,Yes,No
566,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-06-06,DIP_FLE,DIP_FLE,Yes,No
567,5403.0,4214.0,R,Corn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-05-19,WIS_KEN,WIS_KEN,Yes,No
568,5433.0,5110.0,R,Corn,10.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,deli cup,2023-06-12,SMI_CAN,SMI_CAN,No,Yes
569,5436.0,5112.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,deli cup,2023-06-14,SMI_HOF,SMI_HOF,Yes,No

In [516]:
wire_mesh = wire_mesh.merge(soil, on="record_id", how="left")
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,ny_soils_01,muid,hsg,hsgint,muserial,hsga,hsgb,hsgc,hsgd,hsgw
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,5295.0,NY138,C,3.0,6805.0,0.0,11.0,63.0,26.0,0.0
1,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,5311.0,NY084,A,1.0,6752.0,62.0,23.0,13.0,2.0,0.0
2,9.0,3068.0,R,Bean,8.0,0.0,0.0,0.0,5.0,1.0,...,5478.0,NY142,D,4.0,6809.0,0.0,34.0,31.0,35.0,0.0
3,12.0,3067.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,...,5478.0,NY142,D,4.0,6809.0,0.0,34.0,31.0,35.0,0.0
4,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,5311.0,NY084,A,1.0,6752.0,62.0,23.0,13.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,...,4201.0,NY131,A,1.0,6798.0,0.0,14.0,63.0,23.0,0.0
566,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,4201.0,NY131,A,1.0,6798.0,0.0,14.0,63.0,23.0,0.0
567,5403.0,4214.0,R,Corn,0.0,0.0,0.0,0.0,0.0,0.0,...,5799.0,NY062,C,3.0,6734.0,6.0,0.0,90.0,4.0,0.0
568,5433.0,5110.0,R,Corn,10.0,0.0,0.0,0.0,0.0,1.0,...,5436.0,NY128,B,2.0,6795.0,0.0,90.0,6.0,4.0,0.0
569,5436.0,5112.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,4108.0,NY134,A,1.0,6801.0,58.0,27.0,0.0,15.0,0.0

In [517]:
wire_mesh["one_week"] = wire_mesh["collection_date"] - pd.Timedelta(7, unit="d")
wire_mesh["two_weeks"] = wire_mesh["collection_date"] - pd.Timedelta(14, unit="d")
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,hsg,hsgint,muserial,hsga,hsgb,hsgc,hsgd,hsgw,one_week,two_weeks
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,C,3.0,6805.0,0.0,11.0,63.0,26.0,0.0,2023-04-10,2023-04-03
1,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,A,1.0,6752.0,62.0,23.0,13.0,2.0,0.0,2023-04-10,2023-04-03
2,9.0,3068.0,R,Bean,8.0,0.0,0.0,0.0,5.0,1.0,...,D,4.0,6809.0,0.0,34.0,31.0,35.0,0.0,2023-04-11,2023-04-04
3,12.0,3067.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,...,D,4.0,6809.0,0.0,34.0,31.0,35.0,0.0,2023-04-11,2023-04-04
4,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,A,1.0,6752.0,62.0,23.0,13.0,2.0,0.0,2023-04-10,2023-04-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,...,A,1.0,6798.0,0.0,14.0,63.0,23.0,0.0,2023-05-30,2023-05-23
566,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,A,1.0,6798.0,0.0,14.0,63.0,23.0,0.0,2023-05-30,2023-05-23
567,5403.0,4214.0,R,Corn,0.0,0.0,0.0,0.0,0.0,0.0,...,C,3.0,6734.0,6.0,0.0,90.0,4.0,0.0,2023-05-12,2023-05-05
568,5433.0,5110.0,R,Corn,10.0,0.0,0.0,0.0,0.0,1.0,...,B,2.0,6795.0,0.0,90.0,6.0,4.0,0.0,2023-06-05,2023-05-29
569,5436.0,5112.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,A,1.0,6801.0,58.0,27.0,0.0,15.0,0.0,2023-06-07,2023-05-31

In [518]:
wire_mesh_dates = wire_mesh[["record_id", "one_week", "two_weeks"]]
wire_mesh_dates

     record_id   one_week  two_weeks
0      GAB_ALL 2023-04-10 2023-04-03
1      GAB_STE 2023-04-10 2023-04-03
2    SMI_JOH_2 2023-04-11 2023-04-04
3    SMI_JOH_2 2023-04-11 2023-04-04
4      GAB_STE 2023-04-10 2023-04-03
..         ...        ...        ...
565    DIP_FLE 2023-05-30 2023-05-23
566    DIP_FLE 2023-05-30 2023-05-23
567    WIS_KEN 2023-05-12 2023-05-05
568    SMI_CAN 2023-06-05 2023-05-29
569    SMI_HOF 2023-06-07 2023-05-31

[570 rows x 3 columns]

In [519]:
df = climate.merge(
    wire_mesh, left_on=["record_id"], right_on=["record_id"], how="left"
)[
    [
        "record_id",
        "date",
        "rain_inches",
        "min_temp_f",
        "ave_temp_f",
        "max_temp_f",
        "one_week",
        "two_weeks",
        "collection_date",
        'week'
    ]
]
df = df.dropna()
df = df.loc[(df['date'] >= df['one_week']) & (df['date'] <= df['collection_date'])].groupby(['record_id', 'collection_date'], as_index = False).mean(['rain_inches', 'min_temp_f', 'ave_temp_f', 'max_temp_f'])
df = df.rename(columns={"rain_inches": "rain_inches_one_week", "min_temp_f": "min_temp_f_one_week", "ave_temp_f": "ave_temp_f_one_week", "max_temp_f": "max_temp_f_one_week"})
wire_mesh = wire_mesh.merge(df, left_on=['record_id', 'collection_date'], right_on=['record_id', 'collection_date'])
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,hsgc,hsgd,hsgw,one_week,two_weeks,rain_inches_one_week,min_temp_f_one_week,ave_temp_f_one_week,max_temp_f_one_week,week
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,63.0,26.0,0.0,2023-04-10,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250
1,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,63.0,26.0,0.0,2023-04-10,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250
2,3.0,3011.0,R,Corn,8.0,1.0,2.0,1.0,2.0,0.0,...,63.0,26.0,0.0,2023-04-10,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250
3,18.0,3012.0,R,Corn,10.0,0.0,2.0,0.0,0.0,1.0,...,63.0,26.0,0.0,2023-04-10,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250
4,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,13.0,2.0,0.0,2023-04-10,2023-04-03,0.00250,47.0250,61.6500,76.2875,15.250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,5043.0,5117.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,63.0,23.0,0.0,2023-06-05,2023-05-29,0.04125,49.6500,59.8250,70.0000,23.250
460,5184.0,5033.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,...,63.0,23.0,0.0,2023-05-30,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375
461,5229.0,5034.0,R,Bean,10.0,0.0,0.0,0.0,0.0,0.0,...,63.0,23.0,0.0,2023-05-30,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375
462,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,...,63.0,23.0,0.0,2023-05-30,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375
463,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,63.0,23.0,0.0,2023-05-30,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375

In [520]:
df = climate.merge(
    wire_mesh, left_on=["record_id"], right_on=["record_id"], how="left"
)[
    [
        "record_id",
        "date",
        "rain_inches",
        "min_temp_f",
        "ave_temp_f",
        "max_temp_f",
        "one_week",
        "two_weeks",
        "collection_date",
    ]
]
df = df.dropna()
df = df.loc[(df['date'] >= df['two_weeks']) & (df['date'] <= df['collection_date'])].groupby(['record_id', 'collection_date'], as_index = False).mean(['rain_inches', 'min_temp_f', 'ave_temp_f', 'max_temp_f'])
df = df.rename(columns={"rain_inches": "rain_inches_two_weeks", "min_temp_f": "min_temp_f_two_weeks", "ave_temp_f": "ave_temp_f_two_weeks", "max_temp_f": "max_temp_f_two_weeks"})
wire_mesh = wire_mesh.merge(df, left_on=['record_id', 'collection_date'], right_on=['record_id', 'collection_date'])
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,two_weeks,rain_inches_one_week,min_temp_f_one_week,ave_temp_f_one_week,max_temp_f_one_week,week,rain_inches_two_weeks,min_temp_f_two_weeks,ave_temp_f_two_weeks,max_temp_f_two_weeks
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000
1,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000
2,3.0,3011.0,R,Corn,8.0,1.0,2.0,1.0,2.0,0.0,...,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000
3,18.0,3012.0,R,Corn,10.0,0.0,2.0,0.0,0.0,1.0,...,2023-04-03,0.01000,48.5000,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000
4,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,2023-04-03,0.00250,47.0250,61.6500,76.2875,15.250,0.039333,40.573333,53.080000,65.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,5043.0,5117.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,2023-05-29,0.04125,49.6500,59.8250,70.0000,23.250,0.030000,51.073333,63.846667,76.633333
460,5184.0,5033.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,...,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667
461,5229.0,5034.0,R,Bean,10.0,0.0,0.0,0.0,0.0,0.0,...,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667
462,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,...,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667
463,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,2023-05-23,0.00625,52.2875,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667

In [521]:
wire_mesh = wire_mesh.merge(gdd[['record_id', 'gdd_fahrenheit_simple_cumsum', 'gdd_fahrenheit_sine_cum_sum', 'date']], left_on=['record_id', 'collection_date'], right_on=['record_id', 'date'], how='left')
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,ave_temp_f_one_week,max_temp_f_one_week,week,rain_inches_two_weeks,min_temp_f_two_weeks,ave_temp_f_two_weeks,max_temp_f_two_weeks,gdd_fahrenheit_simple_cumsum,gdd_fahrenheit_sine_cum_sum,date
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
1,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
2,3.0,3011.0,R,Corn,8.0,1.0,2.0,1.0,2.0,0.0,...,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
3,18.0,3012.0,R,Corn,10.0,0.0,2.0,0.0,0.0,1.0,...,62.6875,76.9000,15.250,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
4,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,61.6500,76.2875,15.250,0.039333,40.573333,53.080000,65.600000,293.0,388.979519,2023-04-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,5043.0,5117.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,59.8250,70.0000,23.250,0.030000,51.073333,63.846667,76.633333,1277.0,1364.873638,2023-06-12
460,5184.0,5033.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,...,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06
461,5229.0,5034.0,R,Bean,10.0,0.0,0.0,0.0,0.0,0.0,...,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06
462,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,...,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06
463,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,65.9875,79.6875,22.375,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06

In [522]:
wire_mesh['week'] = wire_mesh['week'].astype('int')
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,ave_temp_f_one_week,max_temp_f_one_week,week,rain_inches_two_weeks,min_temp_f_two_weeks,ave_temp_f_two_weeks,max_temp_f_two_weeks,gdd_fahrenheit_simple_cumsum,gdd_fahrenheit_sine_cum_sum,date
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,62.6875,76.9000,15,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
1,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,62.6875,76.9000,15,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
2,3.0,3011.0,R,Corn,8.0,1.0,2.0,1.0,2.0,0.0,...,62.6875,76.9000,15,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
3,18.0,3012.0,R,Corn,10.0,0.0,2.0,0.0,0.0,1.0,...,62.6875,76.9000,15,0.036000,42.300000,54.346667,66.400000,335.0,428.290955,2023-04-17
4,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,61.6500,76.2875,15,0.039333,40.573333,53.080000,65.600000,293.0,388.979519,2023-04-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,5043.0,5117.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,59.8250,70.0000,23,0.030000,51.073333,63.846667,76.633333,1277.0,1364.873638,2023-06-12
460,5184.0,5033.0,R,Bean,10.0,0.0,3.0,0.0,0.0,0.0,...,65.9875,79.6875,22,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06
461,5229.0,5034.0,R,Bean,10.0,0.0,0.0,0.0,0.0,0.0,...,65.9875,79.6875,22,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06
462,5184.0,5033.0,R,Corn,10.0,0.0,3.0,0.0,0.0,0.0,...,65.9875,79.6875,22,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06
463,5229.0,5034.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,65.9875,79.6875,22,0.003333,47.646667,61.553333,75.466667,1029.5,1116.484498,2023-06-06

In [523]:
wire_mesh = wire_mesh.merge(scm_counts, left_on=['field_id', 'week'], right_on=['site', 'week'], how='outer', indicator=True)
wire_mesh = wire_mesh[wire_mesh['_merge'] == 'both']
wire_mesh = wire_mesh.drop(columns=['date_y', '_merge'])
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,date_x,card_id,data_collector,site,n_scm_i_m,n_scm_i_f,n_scm_o_m,n_scm_o_f,n_d_florilega_i,n_d_florilega_o
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,2023-04-17,2069.0,Aaron Gabriel,GAB_ALL,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,2023-04-17,2070.0,Aaron Gabriel,GAB_ALL,19.0,63.0,17.0,42.0,0.0,0.0
2,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,2023-04-17,2069.0,Aaron Gabriel,GAB_ALL,NaN,NaN,NaN,NaN,NaN,NaN
3,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,2023-04-17,2070.0,Aaron Gabriel,GAB_ALL,19.0,63.0,17.0,42.0,0.0,0.0
4,3.0,3011.0,R,Corn,8.0,1.0,2.0,1.0,2.0,0.0,...,2023-04-17,2069.0,Aaron Gabriel,GAB_ALL,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,2952.0,4100.0,R,Bean,10.0,0.0,0.0,0.0,0.0,0.0,...,2023-05-16,2386.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN
538,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,2023-05-16,2385.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN
539,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,2023-05-16,2386.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN
540,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,2023-05-16,2385.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN
541,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,2023-05-16,2386.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN

In [524]:
wire_mesh['last_week'] = wire_mesh['week'] - 1
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,card_id,data_collector,site,n_scm_i_m,n_scm_i_f,n_scm_o_m,n_scm_o_f,n_d_florilega_i,n_d_florilega_o,last_week
0,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,2069.0,Aaron Gabriel,GAB_ALL,NaN,NaN,NaN,NaN,NaN,NaN,14
1,3.0,3011.0,R,Bean,8.0,1.0,2.0,1.0,2.0,0.0,...,2070.0,Aaron Gabriel,GAB_ALL,19.0,63.0,17.0,42.0,0.0,0.0,14
2,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,2069.0,Aaron Gabriel,GAB_ALL,NaN,NaN,NaN,NaN,NaN,NaN,14
3,18.0,3012.0,R,Bean,10.0,0.0,2.0,0.0,0.0,1.0,...,2070.0,Aaron Gabriel,GAB_ALL,19.0,63.0,17.0,42.0,0.0,0.0,14
4,3.0,3011.0,R,Corn,8.0,1.0,2.0,1.0,2.0,0.0,...,2069.0,Aaron Gabriel,GAB_ALL,NaN,NaN,NaN,NaN,NaN,NaN,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,2952.0,4100.0,R,Bean,10.0,0.0,0.0,0.0,0.0,0.0,...,2386.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN,18
538,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,2385.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN,18
539,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,2386.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN,18
540,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,2385.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN,18
541,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,2386.0,Jodi Letham,LET_NOB,NaN,NaN,NaN,NaN,NaN,NaN,18

In [525]:
wire_mesh = wire_mesh.merge(scm_counts, left_on=['field_id', 'last_week'], right_on=['site', 'week'], how='outer', indicator=True)
wire_mesh = wire_mesh[wire_mesh['_merge'] == 'both']
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,site_y,date,n_scm_i_m_y,n_scm_i_f_y,n_scm_o_m_y,n_scm_o_f_y,n_d_florilega_i_y,n_d_florilega_o_y,week_y,_merge
8,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
9,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,17.0,5.0,20.0,8.0,0.0,0.0,14.0,both
10,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
11,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,17.0,5.0,20.0,8.0,0.0,0.0,14.0,both
12,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both
648,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,18.0,both
649,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both
650,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,18.0,both
651,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both

In [526]:
wire_mesh = wire_mesh.rename(columns={'n_scm_i_m_x' : 'n_scm_i_m_current', 'n_scm_i_f_x' : 'n_scm_i_f_current', 'n_scm_o_m_x' : 'n_scm_o_m_current', 'n_scm_o_f_x' : 'n_scm_o_f_current', 'n_d_florilega_i_x' : 'n_d_florilega_i_current', 'n_d_florilega_o_x' : 'n_d_florilega_o_current'})
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,site_y,date,n_scm_i_m_y,n_scm_i_f_y,n_scm_o_m_y,n_scm_o_f_y,n_d_florilega_i_y,n_d_florilega_o_y,week_y,_merge
8,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
9,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,17.0,5.0,20.0,8.0,0.0,0.0,14.0,both
10,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
11,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,17.0,5.0,20.0,8.0,0.0,0.0,14.0,both
12,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both
648,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,18.0,both
649,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both
650,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,18.0,both
651,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both

In [527]:
wire_mesh = wire_mesh.rename(columns={'n_scm_i_m_y' : 'n_scm_i_m_2', 'n_scm_i_f_y' : 'n_scm_i_f_2', 'n_scm_o_m_y' : 'n_scm_o_m_2', 'n_scm_o_f_y' : 'n_scm_o_f_2', 'n_d_florilega_i_y' : 'n_d_florilega_i_2', 'n_d_florilega_o_y' : 'n_d_florilega_o_2'})
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,site_y,date,n_scm_i_m_2,n_scm_i_f_2,n_scm_o_m_2,n_scm_o_f_2,n_d_florilega_i_2,n_d_florilega_o_2,week_y,_merge
8,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
9,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,17.0,5.0,20.0,8.0,0.0,0.0,14.0,both
10,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
11,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,17.0,5.0,20.0,8.0,0.0,0.0,14.0,both
12,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,GAB_STE,2023-04-03,NaN,NaN,NaN,NaN,NaN,NaN,14.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both
648,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,18.0,both
649,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both
650,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,18.0,both
651,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,LET_NOB,2023-05-01,11.0,5.0,4.0,2.0,0.0,0.0,18.0,both

In [528]:
wire_mesh = wire_mesh.drop(columns=['_merge', 'week_y', 'date', 'site_y', 'card_id_y', 'data_collector_y', 'site_x', 'data_collector_x', 'week_x', 'field_id', 'card_id_x', 'date_x'])
wire_mesh

,id,container_number,project,seed_type,number_seeds,scm_seeds,other_seeds,total_scm_maggots,total_scm_pupae,number_wireworm,...,n_scm_o_f_current,n_d_florilega_i_current,n_d_florilega_o_current,last_week,n_scm_i_m_2,n_scm_i_f_2,n_scm_o_m_2,n_scm_o_f_2,n_d_florilega_i_2,n_d_florilega_o_2
8,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
9,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,14.0,17.0,5.0,20.0,8.0,0.0,0.0
10,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,10.0,0.0,0.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN
11,6.0,3009.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,10.0,0.0,0.0,14.0,17.0,5.0,20.0,8.0,0.0,0.0
12,15.0,3010.0,R,Bean,10.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,2949.0,4102.0,R,Corn,10.0,0.0,2.0,0.0,0.0,0.0,...,NaN,NaN,NaN,18.0,11.0,5.0,4.0,2.0,0.0,0.0
648,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
649,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,18.0,11.0,5.0,4.0,2.0,0.0,0.0
650,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
651,2952.0,4100.0,R,Corn,10.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,18.0,11.0,5.0,4.0,2.0,0.0,0.0

In [529]:
wire_mesh.columns

Index(['id', 'container_number', 'project', 'seed_type', 'number_seeds',
       'scm_seeds', 'other_seeds', 'total_scm_maggots', 'total_scm_pupae',
       'number_wireworm', 'phorid_seeds', 'total_phorid_maggots',
       'total_phorid_pupae', 'notes', 'container_type', 'collection_date',
       'record_id', 'cover_crop', 'manure', 'ny_soils_0', 'ny_soils_01',
       'muid', 'hsg', 'hsgint', 'muserial', 'hsga', 'hsgb', 'hsgc', 'hsgd',
       'hsgw', 'one_week', 'two_weeks', 'rain_inches_one_week',
       'min_temp_f_one_week', 'ave_temp_f_one_week', 'max_temp_f_one_week',
       'rain_inches_two_weeks', 'min_temp_f_two_weeks', 'ave_temp_f_two_weeks',
       'max_temp_f_two_weeks', 'gdd_fahrenheit_simple_cumsum',
       'gdd_fahrenheit_sine_cum_sum', 'n_scm_i_m_current', 'n_scm_i_f_current',
       'n_scm_o_m_current', 'n_scm_o_f_current', 'n_d_florilega_i_current',
       'n_d_florilega_o_current', 'last_week', 'n_scm_i_m_2', 'n_scm_i_f_2',
       'n_scm_o_m_2', 'n_scm_o_f_2', 'n_d_florilega_i_2', 'n_d_florilega_o_2'],
      dtype='object')

# Risk Assessment Random Forest

# Adult Abundance

Farms with first emergence data - 

- DIP_CUR
- DIP_FLE
- POV_DUN
- GAB_STE

In [109]:
first_emergence_farms = ["DIP_CUR", "DIP_FLE", "POV_DUN", "GAB_STE"]
first_emergence_farms

['DIP_CUR', 'DIP_FLE', 'POV_DUN', 'GAB_STE']

2023-04-23T00:00:00.000000000

%Y-%m-%dT%H:%M:%S.%f

In [110]:
for farm in first_emergence_farms:
    count_tbl_name = farm + "_counts"
    gdd_tbl_name = farm + "_gdd"

    count_tbl_name = scm_counts[scm_counts["site"] == farm]
    gdd_tbl_name = gdd.loc[gdd["record_id"] == farm]

    pred_avg = gdd_tbl_name.loc[gdd_tbl_name["gdd_fahrenheit_simple_cumsum"] >= 296][
        "date"
    ].values[0]

    pred_sin = gdd_tbl_name.loc[gdd_tbl_name["gdd_fahrenheit_sine_cum_sum"] >= 361][
        "date"
    ].values[0]

    actual = count_tbl_name.loc[
        (count_tbl_name["n_scm_i_m"] >= 1)
        | (count_tbl_name["n_scm_o_m"] >= 1)
        | (count_tbl_name["n_scm_o_f"] >= 1)
        | (count_tbl_name["n_scm_o_f"] >= 1)
    ]["date"].values[0]

    print(
        "The actual first emergence date at " + farm + " is",
        datetime.strptime(str(actual), "%Y-%m-%dT%H:%M:%S.%f000").date(),
    )

    print(
        "The predicted first emergence date using the simple average model at "
        + farm
        + " is",
        datetime.strptime(str(pred_avg), "%Y-%m-%dT%H:%M:%S.%f000").date(),
    )
    print(
        "The predicted date using the simple average model was "
        + str(
            (
                datetime.strptime(str(pred_avg), "%Y-%m-%dT%H:%M:%S.%f000").date()
                - datetime.strptime(str(actual), "%Y-%m-%dT%H:%M:%S.%f000").date()
            ).days
        )
        + " days late"
    )

    print(
        "The predicted first emergence date using the sine wave model at "
        + farm
        + " is",
        datetime.strptime(str(pred_sin), "%Y-%m-%dT%H:%M:%S.%f000").date(),
    )
    print(
        "The predicted date using the sine wave model was "
        + str(
            (
                datetime.strptime(str(pred_sin), "%Y-%m-%dT%H:%M:%S.%f000").date()
                - datetime.strptime(str(actual), "%Y-%m-%dT%H:%M:%S.%f000").date()
            ).days
        )
        + " days late"
    )

    print(" ")

The actual first emergence date at DIP_CUR is 2023-04-06
The predicted first emergence date using the simple average model at DIP_CUR is 2023-04-23
The predicted date using the simple average model was 17 days late
The predicted first emergence date using the sine wave model at DIP_CUR is 2023-04-23
The predicted date using the sine wave model was 17 days late

The actual first emergence date at DIP_FLE is 2023-03-28
The predicted first emergence date using the simple average model at DIP_FLE is 2023-04-18
The predicted date using the simple average model was 21 days late
The predicted first emergence date using the sine wave model at DIP_FLE is 2023-04-17
The predicted date using the sine wave model was 20 days late

The actual first emergence date at POV_DUN is 2023-03-28
The predicted first emergence date using the simple average model at POV_DUN is 2023-04-22
The predicted date using the simple average model was 25 days late
The predicted first emergence date using the sine wave model at POV_DUN is 2023-04-22
The predicted date using the sine wave model was 25 days late

The actual first emergence date at GAB_STE is 2023-03-28
The predicted first emergence date using the simple average model at GAB_STE is 2023-04-18
The predicted date using the simple average model was 21 days late
The predicted first emergence date using the sine wave model at GAB_STE is 2023-04-17
The predicted date using the sine wave model was 20 days late

## New GDD Thresholds

Based on average cumulative GDD for four sites with first emergence dates.

Simple Average Model - GDD Average for Actual Emergence

In [111]:
np.mean([54, 62.5, 94, 58.5])

67.25

In [112]:
np.mean([55, 61.5, 53.5, 54.5])

56.125

Sine Wave Model - GDD Average for Actual Emergence

In [113]:
np.mean([54, 94, 62.5, 58.5])

67.25

In [114]:
np.mean([109.4494181, 147.4329546, 118.5207495, 130.9217006])

126.5812057

In [115]:
for farm in first_emergence_farms:
    count_tbl_name = farm + "_counts"
    gdd_tbl_name = farm + "_gdd"

    count_tbl_name = scm_counts[scm_counts["site"] == farm]
    gdd_tbl_name = gdd.loc[gdd["record_id"] == farm]

    pred_avg = gdd_tbl_name.loc[gdd_tbl_name["gdd_fahrenheit_simple_cumsum"] >= 67][
        "date"
    ].values[0]

    pred_sin = gdd_tbl_name.loc[gdd_tbl_name["gdd_fahrenheit_sine_cum_sum"] >= 127][
        "date"
    ].values[0]

    actual = count_tbl_name.loc[
        (count_tbl_name["n_scm_i_m"] >= 1)
        | (count_tbl_name["n_scm_o_m"] >= 1)
        | (count_tbl_name["n_scm_o_f"] >= 1)
        | (count_tbl_name["n_scm_o_f"] >= 1)
    ]["date"].values[0]

    print(
        "The actual first emergence date at " + farm + " is",
        datetime.strptime(str(actual), "%Y-%m-%dT%H:%M:%S.%f000").date(),
    )

    print(
        "The predicted first emergence date using the simple average model at "
        + farm
        + " is",
        datetime.strptime(str(pred_avg), "%Y-%m-%dT%H:%M:%S.%f000").date(),
    )
    print(
        "The predicted date using the simple average model was "
        + str(
            (
                datetime.strptime(str(pred_avg), "%Y-%m-%dT%H:%M:%S.%f000").date()
                - datetime.strptime(str(actual), "%Y-%m-%dT%H:%M:%S.%f000").date()
            ).days
        )
        + " days late"
    )

    print(
        "The predicted first emergence date using the sine wave model at "
        + farm
        + " is",
        datetime.strptime(str(pred_sin), "%Y-%m-%dT%H:%M:%S.%f000").date(),
    )
    print(
        "The predicted date using the sine wave model was "
        + str(
            (
                datetime.strptime(str(pred_sin), "%Y-%m-%dT%H:%M:%S.%f000").date()
                - datetime.strptime(str(actual), "%Y-%m-%dT%H:%M:%S.%f000").date()
            ).days
        )
        + " days late"
    )

    print(" ")

The actual first emergence date at DIP_CUR is 2023-04-06
The predicted first emergence date using the simple average model at DIP_CUR is 2023-04-05
The predicted date using the simple average model was -1 days late
The predicted first emergence date using the sine wave model at DIP_CUR is 2023-04-05
The predicted date using the sine wave model was -1 days late

The actual first emergence date at DIP_FLE is 2023-03-28
The predicted first emergence date using the simple average model at DIP_FLE is 2023-04-01
The predicted date using the simple average model was 4 days late
The predicted first emergence date using the sine wave model at DIP_FLE is 2023-04-01
The predicted date using the sine wave model was 4 days late

The actual first emergence date at POV_DUN is 2023-03-28
The predicted first emergence date using the simple average model at POV_DUN is 2023-04-04
The predicted date using the simple average model was 7 days late
The predicted first emergence date using the sine wave model at POV_DUN is 2023-04-02
The predicted date using the sine wave model was 5 days late

The actual first emergence date at GAB_STE is 2023-03-28
The predicted first emergence date using the simple average model at GAB_STE is 2023-04-02
The predicted date using the simple average model was 5 days late
The predicted first emergence date using the sine wave model at GAB_STE is 2023-03-28
The predicted date using the sine wave model was 0 days late